<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [style]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="top-image">
        <div class="background">
            <img src="../../../../../assets/img/modals/delete_icon.svg" />
        </div>
      </div>

    <div class="fields">
        <div class="title">
          Reference deleted
        </div>
        <div class="cancel" (click)="closePopup()"><button class="btn btn-custom-cancel form-control">OK</button></div>
  </div>
  </div>
  </div>
</div>
