<section></section>

<div class="talent-header">
  <nav class="px-0 navbarFixedTop">
    <div class="container">
      <nav target="navbar-collapse collapse" display="none">
        <!--         <img
          src="../../../assets/icons/toggle-btn-icon.svg"
          aria-current="page"
          width="35px"
          alt="Logo"
        /> -->
        <a href="/">
          <img src="../../../assets/logo.svg" width="180px" />
        </a>
        <nav id="nav-collapse">
          <ul class="navbar-nav">
            @for (item of navigationItems; track $index) {
            <li class="nav-item">
              <a class="nav-link" [href]="item.href">{{ item.text }}</a>
            </li>
            }
          </ul>
        </nav>
      </nav>
    </div>
  </nav>
</div>
