<section></section>

<div class="talent-header">
  <nav class="px-0 navbarFixedTop">
    <div class="container">
      <nav target="navbar-collapse collapse" display="none">
        <a href="/">
          <img src="../../../assets/logo.svg" width="180px" class="logo" />
        </a>
        <nav id="nav-collapse">
          <ul class="navbar-nav">
            @for (item of navigationItems; track $index) {
            <li class="nav-item">
              <a class="nav-link {{item.selected}}" [routerLink]="item.href">{{ item.text }}</a>
            </li>
            }
          </ul>
        </nav>
        <div [hidden]="isVisible" class="sign-up">
          <button class="btn btn-custom-danger">SIGN UP</button>
        </div>

        <div  class="TopButtons">
          <div [hidden]="isConnected">
            <div class="signin"><button class="btn btn-custom-danger form-control" routerLink="signup">SIGN IN</button></div>
            <div class="login"><button class="btn btn-custom-cancel form-control" routerLink="login">LOG IN</button></div>
          </div>
        </div>
      </nav>
    </div>
  </nav>
</div>
