.TopButtons {
  position: absolute;
  right: 80px;
  top: 45px;
  z-index: 2000;

  .profile-menu {
    width: 400px;
    position: relative;
    top: -20px;
    left: 0px;
    font-size: 15px;
    font-family: 'CircularStd';
    line-height: 15px;
    font-weight: 700;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;

    .profile-text {
      width: 200px !important;

      span {
        font-size: 15px;
        font-family: 'CircularStd';
        line-height: 15px;
        font-weight: 400;
        color: #1a2f9c
      }

      a {
        cursor: pointer;
        font-size: 15px;
        font-family: 'CircularStd';
        line-height: 15px;
        font-weight: 400;
        color: #819191;
        text-decoration: underline;
      }

      /*       p {
        cursor: pointer;
        font-size: 15px;
        font-family: 'CircularStd';
        line-height: 15px;
        font-weight: 400;
        color: #819191;
        text-decoration: underline;
      } */

      a:hover {
        text-decoration: none;
      }

      p:hover {
        text-decoration: none;
      }
    }
  }

  .login {
    position: relative;
    float: right;
    width: 113px;
    height: 45px;
    left: -40px;
  }

  .signin {
    position: relative;
    float: right;
    width: 113px;
    height: 45px;
  }
}



.btn-custom-cancel {
  font-size: 12px;
  font-family: 'CircularStd';
  line-height: 14px;
  background: rgb(244, 246, 253);
  color: #1F1F1F;
  width: 100%;
  text-transform: uppercase;
  height: 45px;
}

.btn-custom-cancel:hover {
  background: rgb(244, 246, 253, .5);
  color: gray;
}

.navbar-collapse {
  align-items: center;
  justify-content: center;
}

.logo {
  position: relative;
  top: 35px;
  z-index: 1000;
}

.logo-image {
  width: 180px;
  height: 120px;
  background-image: url(../../../../assets/logo.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.navbar-nav {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn-custom-danger {
  background: #CA0010;
  color: white;
  height: 45px;
}

.btn-custom-danger:hover {
  background: rgb(202, 0, 16, .5);
  color: whitesmoke;
}

.sign-up {
  float: right;
  position: relative;
  top: -55px;
}

.navbar-nav li.nav-item.active a:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #66c346;
  display: block;
}

li a {
  text-decoration: none;
  color: #809090;
}

li a:hover {
  text-decoration: none;
  color: black;
}

.nav-item {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;

  .selected {
    background-image: url("../../../../assets/img/menu/selected.png");
    background-size: 100% 9%;
    background-repeat: no-repeat;
    background-position: bottom;
    color: black;
    font-weight: 600;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #8b9a9a;
  font-size: 14px;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #1f1f1f;
}

.talent-header {
  width: 100%;
  height: 150px;
}

.talent-btn {
  text-align: center;
  display: inline-block;
  padding: 10px 24px;
  border-radius: 6px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.talent-btn:hover {
  text-decoration: none;
  box-shadow: 2px 2px 4px #a9a9a9;
  transition: all 0.2s ease-in;
}

.talent-btn.login-btn {
  background: #fff;
  color: #1f1f1f;
  margin-right: 5px;
}

.talent-btn.signup-btn {
  background: #ca0010;
  color: #fff;
  margin-left: 5px;
}

.section-header {
  padding-top: 120px;
  margin-top: -90px;
}

nav.navbar {
  transition: all 0.3s ease;
}

.navbarFixedTop {
  right: 0;
  left: 0 !important;
  z-index: 1030;
  top: 0;
  transition: all 0.3s ease;
  position: fixed;
  background: #f9fafe;
}

.back {
  display: none;
  z-index: 100;
  float: right;
  position: absolute;
  top: 14px;
  right: 10px;
}

@media only screen and (min-width: 768px) {

  .mob-icon {
    display: none;
  }

  .navbarFixedTop {
    top: 0px;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

  .logo {
    position: relative;
    top: 35px;
    height: 117px;
  }

  .TopButtons {
    top: -10px;
  }

  .navbarFixedTop {
    top: 0px;
  }

  .nav-item {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;

    .selected {
      background-image: url("../../../../assets/img/menu/selected.png");
      background-size: 100% 9%;
      background-repeat: no-repeat;
      background-position: bottom;
      color: black;
      font-weight: 600;
    }
  }

  .talent-header .navbar-light .navbar-nav .nav-link {
    font-size: 13px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .talent-header .talent-btn,
  .talent-header .talent-btn {
    padding: 8px 16px;
  }

  .talent-header .navbar-brand {
    margin-right: 0;
  }

  .talent-header .navbar-brand img {
    width: 150px;
  }
}


@media only screen and (min-width: 1199px) {

  .navbar-collapse {
    align-items: center;
    justify-content: center;
    position: relative;
    left: -100px;
  }

  .logo {
    position: relative;
    top: 35px;
    height: 117px;
  }

  .TopButtons {
    top: 50px;
  }

  .navbarFixedTop {
    top: 0px;
  }

  .nav-item {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;

    .selected {
      background-image: url("../../../../assets/img/menu/selected.png");
      background-size: 100% 9%;
      background-repeat: no-repeat;
      background-position: bottom;
      color: black;
      font-weight: 600;
    }
  }

  .talent-header .navbar-light .navbar-nav .nav-link {
    font-size: 13px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .talent-header .talent-btn,
  .talent-header .talent-btn {
    padding: 8px 16px;
  }

  .talent-header .navbar-brand {
    margin-right: 0;
  }

  .talent-header .navbar-brand img {
    width: 150px;
  }

  .sign-up {
    display: none;
  }

  .sign-up {
    display: none;
  }
}

@media only screen and (max-width: 991px) {

  .navbar-collapse {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: #f9fafe;
    z-index: 22;
  }

  .navbar-collapse .navbar-nav {
    padding: 10px;
    max-width: 750px;
    margin: 0 auto;
  }

  .navbar-toggler {
    padding: 0px;
    background-color: #F4F6FD;
    border: none;
  }

  .navbar-brand {
    padding: 0;
    margin: 0;
  }

  nav.navbar {
    transition: all 0.3s ease;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .navbar-brand img {
    width: 160px;
  }

  .logo {
    position: relative;
    width: 100%;
    text-align: center;

  }

  .logo-image {
    top: -40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 124px;
    height: 48px;

  }

  .mob-icon {
    background: #fff;
    border-radius: 6px;
    width: 35px;
    height: 35px;
    line-height: 32px;
    text-align: center;
  }

  .mob-hide {
    display: none;
  }

  .back {
    display: block;
  }
}

@media only screen and (max-width: 767px) {

  .navbar-brand img {
    width: 140px;
  }

  .mob-hide {
    display: none;
  }

  .back {
    display: block;
  }

  .navbar-collapse .navbar-nav {
    max-width: 570px;
  }

  .logo {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .logo-image {
    top: -40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 124px;
    height: 48px;
  }

  .mob-icon {
    background: #fff;
    border-radius: 6px;
    width: 35px;
    height: 35px;
    line-height: 32px;
    text-align: center;
  }

  .mob-hide {
    display: none;
  }

  .back {
    display: block;
  }

  .nav-item {
    padding-left: 5px;
    padding-right: 5px;

    .selected {
      background-image: url("../../../../assets/img/menu/selected.png");
      background-size: 100% 9%;
      background-repeat: no-repeat;
      background-position: bottom;
      color: black;
      font-weight: 600;
    }
  }

  .navbar-nav {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #809090;
  }

  .navbar-collapse {
    top: 83px;
  }
}
