<div class="topLeft">
  <img src="../../../../assets/img/reference/welcome/topLeft.png" />
</div>
<div class="contents">
  <div class="image-left">
    <img src="../../../../assets/img/contact-us/Contact us 1.svg" />
  </div>
  <div class="contact-us">
    <div class="content">
      <div class="title">Contact us
      </div>
      <div class="sub-title">If you have any questions, you can contact us</div>
      <div class="sub-content">
        <div class="left">
          <div>For technical support, please send us an email at</div>

  <a herf="#">support&#64;talentchecks.com</a>
        </div>
        <div class="right">
          <div>For general inquiries, please send us an email at</div>
  <a herf="#">hello&#64;talentchecks.com
  </a>
        </div>
      </div>

    </div>
  </div>
  <div class="image-right">
    <img src="../../../../assets/img/contact-us/Contact us 2.svg" />
  </div>
</div>
<div class="rightBG"></div>
