@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
.forget-section{
  min-height: 800px;
}
.TopMask{
  right:0px;
  position: absolute;
  z-index: 2;
  top: 0px;
}
.Mask{
  right:0px;
  position: absolute;
  z-index: 1;
  top: 0px;
}
.mains{
  position: relative;
  top: 120px;
  width: 100%;
  height: 100%;
}
.forget-div{
width: 470px;
height: 411px;
box-shadow: 0px 0px 32px  rgba(69, 102, 183, .14);
z-index: 5;
background: white;
border-radius: 20px;
}
.forget{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ManLeft{
  width:470px;
  z-index: 4;
  img{
    left: -23px;
    position: relative;
    width: 338px;
  }
}

.ManRight{
width:470px;
z-index: 4;
padding-right: 58px;
    img{
      position: relative;
      right: -94px;
      float: right;
      width: 140px;

    }
}
.forget-fields{
  width: 470px;
}

.forget-inputs{
  position: relative;
  top: 70px;
  left: 62px;
  width: 350px;
  height: 100%;
  .title{
    text-align: center;
    color: #1F1F1F;
    font-size: 25px;
    font-family: 'CircularStd';
    line-height: 30px;
    text-transform:uppercase;
  }
  .recover{
    text-align: center;
    color: #809090;
    position: relative;
    top: 5px;
    font-size: 13px;
    font-family: 'CircularStd';
    line-height: 16px;
  }
  .email{
    position: relative;
    top: 60px;
    font-size: 14px;
    font-family:  'CircularStd','FontAwesome';
    line-height: 16px;
  }
  .submit{
    position: relative;
    top: 80px;
  }

}

.btn-custom-danger{
  background:#CA0010;
  color: white;
}
.btn-custom-danger:hover{
  background:rgb(202, 0, 16, .5);
  color: whitesmoke;
}
.top-button{
  display: none;
}

@media only screen and (max-width: 767px) {
  .masks{
    img{
      width:233px ;
    }
  }

  .forget-div{
    width: 80%;
    height: 411px;
    box-shadow: 0px 0px 32px  rgba(69, 102, 183, .14);
    z-index: 5;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;

    .top-button{
      display: block;
      width: 50%;
      position: relative;
      right: 0px;
      float: right;
      top: -38px;
      background: #CA0010;
      border-radius:5px;
      z-index: -1;
      height: 50px;
    }
    .cover{
      width: 100%;
      height: 20px;
      float: right;
      border-radius: 0px 5px 0px 0px;
      background: white;
    }


    .forget-fields{
      width: 100%;
      position: relative;
      left: 0px;
      right: 0px;
      height: 100%;
    }

    .forget-inputs{
      min-width: 293px;
      position: relative;
      top: 70px;
      left:0px;
      width: 80%;
      height: 100%;
      padding-left: 10%;
      padding-right: 10%;
      .title{
        font-size: 18px;
        font-family: 'CircularStd';
        line-height: 22.77px;
        text-transform:uppercase;
      }
    }
    .forget{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  .ManLeft{
    width:200px;
    z-index: 4;
    top: 60%;
    position: relative;
    img{
      left: -157px;
      position: relative;
      top: 375px;
      width: 189px;
    }
  }
  .ManRight{
  width:200px;
  z-index: 4;
  padding-right: 58px;
  position: relative;
  top: -220px;
  img{
    position: relative;
    left: 106px;
    top: 30px;
    width: 89px;
    margin-left: 70px
  }
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
