
<div class="forget-section">
<div class="masks">
  <img src="../../../../assets/img/login/TopMask@2x.svg" class="TopMask"/>
  <img src="../../../../assets/img/login/Mask@2x.svg" class="Mask"/>
</div>


<div class="mains">
  <div class="forget">

    <div class="ManRight">
      <img src="../../../../assets/img/forgetpassword/right.png" />
    </div>
  <div class="forget-div">
    <div class="top-button"><a routerLink="/auth/login" class="btn btn-custom-danger form-control">LOG IN</a>
      <div class="cover"></div>
      </div>
        <div class="forget-fields">
          <div class="forget-inputs">
            <div class="title">Forgot my password!</div>
            <div class="recover">It's not a problem. Recover your password in a few clicks</div>
            <div class="email"><input type="email" class="form-control" name="email" id="email" placeholder="&#61664; Email"></div>

            <div class="submit" (click)="submit()"><button class="btn btn-custom-danger form-control">SUBMIT</button></div>
        </div>
        </div>
    </div>
    <div class="ManLeft">
      <img src="../../../../assets/img/forgetpassword/man.png" width="338" />
    </div>


  </div>

</div>
</div>
