body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
.content{
  width: 100%;
  float: left;
  position: relative;
  top: -200px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 100vh;
  z-index: 10;
}
.topLeft{
  position: absolute;
  right: 0px;
  top: 0px;

}
.start-text{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1278px !important;
  height: 150px;
  top: 260px;
  .title{
    position: relative;
    width:100% !important;;
    font-size: 25px;
    font-family: 'CircularStd';
    color: #1F1F1F;
    text-transform: uppercase;
    font-weight: 600;

  }
  .text{
    position: relative;
    width:100% !important;;
    top: 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'CircularStd';
    color: #809090;
    width: 100%;
    span{
      font-family: 'CircularStd';
      color: #002F9C;
      font-size: 14px;
      font-weight: 700;
    }
  }


}
.mobile-display{
  display: none;
}

.inputs{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1278px !important;
  height: 150px;
  top: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .part1{
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content:space-evenly;
  }
  .part2{
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content:space-evenly;
  }
  .w1{
    width: 180px !important;
    margin-right: 10px;
  }
  .w2{
    width: 200px !important;
    margin-right: 10px;
  }
  .w3{
    width: 350px !important;
    margin-right: 10px;
  }
  .w4{
    width: 250px !important;
    margin-right: 10px;
  }
  .user-input-wrp {
    position: relative;
    width: 230px;

  }
  .user-input-wrp .inputText{
    width: 100%;
    outline: none;
    border:none;
    border-bottom: 1px solid #777;
     box-shadow: none !important;
     font-family: 'CircularStd';
     color: #77848B;
     font-size: 12px;
     font-weight: 400;
  }
  .user-input-wrp .inputText:focus{
    border-color: 77848B;
    border-width: medium medium 2px;
    font-family: 'CircularStd';
    color: #77848B;
    font-size: 14px;
    font-weight: 400;

  }
  .user-input-wrp .floating-label {
    position: absolute;
    pointer-events: none;
    top: 18px;
    left: 10px;
    transition: 0.2s ease all;
    color: #A9B3B8;
    font-size: 12px;
  }
  .user-input-wrp input:focus ~ .floating-label,
  .user-input-wrp input:not(:focus):valid ~ .floating-label{
    top: 0px;
    left: 10px;
    font-size: 13px;
    opacity: 1;
    font-family: 'CircularStd';
    color: #A9B3B8;
    font-size: 9px;
    font-weight: 400;
  }
}

.under-inputs{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1278px !important;
  height: 150px;
  top: 220px;
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: start;

  .text{
    position: relative;
    left: 0px;
    width: 659px !important;
    font-family: 'CircularStd';
    color: #A9B3B8;
    font-size: 14px;
    font-weight: 400;
    span{
      font-family: 'CircularStd';
      color: #002F9C;
      font-size: 14px;
      font-weight: 700;
    }
  }
}
.tell-us{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1278px !important;
  top: 60px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;

  .content-top{
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1278px !important;
    top: 100px;
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content: space-between;
    .upload{
      position: relative;
      top: 0px;
      width: 615px !important;
      .text{
        width: 659px !important;
        font-family: 'CircularStd';
        color: #1F1F1F;
        font-size: 16px;
        font-weight: 700;

        span{
          font-family: 'CircularStd';
          color: #002F9C;
          font-size: 16px;
          font-weight: 700;
        }
      }
      .square{
        display: flex;
        align-items: start;
        flex-direction: row;
        justify-content: start;
        .square-text{
          padding-top: 50px;
          display: flex;
          align-items: start;
          flex-direction: column;
          justify-content: start;
          font-family: 'CircularStd';
          color: #77848B;
          font-size: 14px;
          font-weight: 400;
          p{
            display: flex;
            align-items: start;
            flex-direction: row;
            justify-content: start;
            span:first-child{
              margin-left: 50px;
            }
            span{
              margin-left: 5px;
            }
          }

          .star{
            display: block;
            background-image: url(../../../../../assets/img/reference/start/star-empty.svg);
            width: 24px;
            height: 24px;
          }
          .star:hover{
            display: block;
            background-image: url(../../../../../assets/img/reference/start/star.svg);
            width: 24px;
            height: 24px;
          }
        }

.buttons{
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  width: 138px;
  height: 100%;
  font-family: 'CircularStd';
  font-size: 16px;
  font-weight: 700;
  .video{
    background-image: url(../../../../../assets/img/reference/start/video.svg);
    background-position: 25px 22px;
    background-repeat: no-repeat;
    color: #1F1F1F;
    background-color:#F9FAFE ;
    width: 100%;
    height: 60px;
    padding: 17px;
    padding-left:65px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 20px;
  }
  .video:hover{
    cursor: pointer;
    color:#fff;
    background-color: #4566B7;
    background-image: url(../../../../../assets/img/reference/start/video-white.svg);
  }
  .audio{
    background:url(../../../../../assets/img/reference/start/audio.svg);
    background-repeat: no-repeat;
    background-position: 25px 17px;
    color: #1F1F1F;
    background-color:#F3FEEF ;
    width: 100%;
    height: 60px;
    padding: 17px;
    padding-left:65px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 20px;
  }
  .audio:hover{
    cursor: pointer;
    color:#fff;
    background-color: #69C14E;
    background-image:url(../../../../../assets/img/reference/start/audio-white.svg);
  }
  .text-botton{
    background: url(../../../../../assets/img/reference/start/text.svg);
    background-repeat: no-repeat;
    background-position: 25px 17px;
    color: #1F1F1F;
    background-color:#FFFAF4 ;
    width: 100%;
    height: 60px;
    padding: 17px;
    padding-left:65px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .text-botton:hover{
    cursor: pointer;
    color:#fff;
    background-color: #F09E3D;
    background-image:url(../../../../../assets/img/reference/start/text-white.svg);
  }
}
.main{
  font-family: 'CircularStd';
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  border-top-left-radius: 0px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23000000FF' stroke-width='3' stroke-dasharray='4' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  width: 476px;
  height: 400px;
  .sub-text{
    position: relative;
    top:120px;
    width:100% !important;
    height: 50px !important;
    text-align: center;
    font-style: italic;
    color: #809090;

  }
  .submit{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}

.square-inputs{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
  .user-input-wrp {
    position: relative;
    width: 100%;

  }
  .user-input-wrp .inputText{
    width: 100%;
    outline: none;
    border:none;
    border-bottom: 1px solid #777;
     box-shadow: none !important;
     font-family: 'CircularStd';
     color: #77848B;
     font-size: 12px;
     font-weight: 400;
  }
  .user-input-wrp .inputText:focus{
    border-color: 77848B;
    border-width: medium medium 2px;
    font-family: 'CircularStd';
    color: #77848B;
    font-size: 14px;
    font-weight: 400;

  }
  .user-input-wrp .floating-label {
    position: absolute;
    pointer-events: none;
    top: 18px;
    left: 10px;
    transition: 0.2s ease all;
    color: #A9B3B8;
    font-size: 12px;
  }
  .user-input-wrp input:focus ~ .floating-label,
  .user-input-wrp input:not(:focus):valid ~ .floating-label{
    top: 0px;
    left: 10px;
    font-size: 13px;
    opacity: 1;
    font-family: 'CircularStd';
    color: #A9B3B8;
    font-size: 9px;
    font-weight: 400;
  }
}
      }
    }
    .last{
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }
  }

}


.rightBG{
  position: absolute;
  top: 199px;
  left: 0px;
  height: 860px;
  width: 158px;
  background-image: url("../../../../../assets/img/reference/welcome/right.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.bottomRight{
  position: absolute;
  bottom: -100vh;
  left: 0px;
  height: 990px;
  width: 248px;
  background-image: url("../../../../../assets/img/reference/start/bottomLeft.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.btn-custom-danger{
  font-size: 12px;
  font-family: 'CircularStd';
  line-height: 14px;
  background:#CA0010;
  color: white;
  text-transform: uppercase;
  height: 45px;
  width: 125px;
}
.btn-custom-danger:hover{
  background:rgb(202, 0, 16, .5);
  color: whitesmoke;
}
.btn-custom-cancel{
  font-size: 12px;
  font-family: 'CircularStd';
  line-height: 14px;
  background:rgb(244, 246, 253);
  color: #1F1F1F;
  text-transform: uppercase;
  height: 45px;
  width: 125px;
}
.btn-custom-cancel:hover{
  background:rgb(244, 246, 253, .5);

}


@media only screen and (max-width: 767px) {
  .step1{
    display: none;
  }
  .topLeft{
    img{
      width: 233px;
    }
  }

  .start-text{
    width: 287px !important;
    .title{
      text-align: center;
      width:100% !important;;
      font-size: 20px;
      line-height: 29px;
      font-weight: 700;

    }
    .text{
      font-size: 13px;
      font-weight: 500;
      text-align: center;
      span{
        font-size: 13px;
        font-weight: 400;
      }
    }


  }

  .mobile-display{
    display: block;
  }
  .step-text{
    position: relative;
    width: 100%;
    text-align: center;
    top: 240px;
    font-family: 'CircularStd';
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
  }
  .inputs{
    z-index: 10;
    display: block;
    top:281px;
    width: 90% !important;
    margin-left: 5%;
    margin-right: 5%;;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;

    .w1{
      width: 100% !important;
    }
    .w2{
      width: 100% !important;
    }
    .w3{
      width: 100% !important;
    }
    .w4{
      width: 100% !important;
    }
    .user-input-wrp .inputText{
      font-size: 14px;
      font-weight: 400;
      height: 43px;
    }

    .part1{
      width: 100%;
      display: flex;
      align-items: start;
      flex-direction: column;
      justify-content:space-evenly;
    }
    .part2{
      width: 100%;
      display: flex;
      align-items: start;
      flex-direction: column;
      justify-content:space-evenly;
    }
  }

  .next-step{
    top: 646px;
    position: relative;
    width: 100%;
    text-align: center;
  }
  .under-inputs{
    top: 250px;
    width: 100% !important;
    .text{
      text-align: center;
      font-size:13px ;
      font-weight: 500;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      span{
        font-size:13px ;
        font-weight: 400;
      }
    }
  }
  .tell-us{
    width: 100% !important;
    .content-top{
      width: 90% !important;
      margin-left: 5%;
      margin-right: 5%;
      display: flex;
      align-items: start;
      flex-direction: column;
      justify-content: start;
      .upload{
        width: 100% !important;
        .text{
          font-size: 15px;
          font-weight: 700;
          width: 100% !important;
        }
        .square{
          display: flex;
          align-items: start;
          flex-direction: column;
          justify-content: start;
          .buttons{
            display: flex;
            align-items: start;
            flex-direction: row;
            justify-content: start;
            width: 100% !important;
            .video{
              font-size: 14px;
              font-weight: 700;
              width: 96px;
              height: 40px;
              text-align: center;
              margin-top: 20px;
              margin-bottom: 0px;
              padding-left: 25px;
              padding-bottom: 30px;
              border-radius: 0px;
              border-top-right-radius: 10px;
              border-top-left-radius: 10px;
              background-image: none;
            }
            .video:hover{
              background-image: none;
            }
            .audio{
              text-align: center;
              font-size: 14px;
              font-weight: 700;
              width: 96px;
              height: 40px;
              margin-top: 20px;
              margin-bottom: 0px;
              padding-left: 25px;
              padding-bottom: 30px;
              border-radius: 0px;
              border-top-right-radius: 10px;
              border-top-left-radius: 10px;
              background-image: none;
            }
            .audio:hover{
              background-image: none;
            }
            .text-botton{
              text-align: center;
              font-size: 14px;
              font-weight: 700;
              width: 96px;
              height: 40px;
              margin-top: 20px;
              margin-bottom: 0px;
              padding-left: 25px;
              padding-bottom: 30px;
              border-radius: 0px;
              border-top-right-radius: 10px;
              border-top-left-radius: 10px;
              background-image: none;
            }
            .text-botton:hover{
              background-image: none;
            }
          }
          .main{
            width: 100% !important;
          }
        }
      }
    }

  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

  .step1{
    display: block;
  }
  .topLeft{
    img{
      width: 441.44px;
    }
  }

  .start-text{
    width:800px !important;
    .title{
      text-align: left;
      width:100% !important;;
      font-size: 25px;
      line-height: 31.62px;
      font-weight: 700;

    }
    .text{
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      span{
        font-size: 14px;
        font-weight: 700;
      }
    }


  }

  .mobile-display{
    display: block;
  }
  .step-text{
    display: none;
    position: relative;
    width: 100%;
    text-align: center;
    top: 240px;
    font-family: 'CircularStd';
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
  }
  .inputs{
    z-index: 10;
    display: block;
    top:200px;
    width: 70% !important;
    margin-left: 5%;
    margin-right: 5%;;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;

    .w1{
      width: 100% !important;
    }
    .w2{
      width: 100% !important;
    }
    .w3{
      width: 100% !important;
    }
    .w4{
      width: 100% !important;
    }
    .part1{
      width: 100%;
      display: flex;
      align-items: start;
      flex-direction: row;
      justify-content:space-evenly;
    }
    .part2{
      width: 100%;
      display: flex;
      align-items: start;
      flex-direction: row;
      justify-content:space-evenly;
    }
    .user-input-wrp .inputText{
      font-size: 14px;
      font-weight: 400;
      height: 43px;
    }
  }
  .next-step{
    top: 646px;
    position: relative;
    width: 100%;
    text-align: center;
    display: none;
  }
  .under-inputs{
    top: 250px;
    width: 100% !important;
    .text{
      text-align: left;
      font-size:13px ;
      font-weight: 500;
      width: 90% !important;
      margin-left: 5%;
      margin-right: 5%;
      span{
        font-size:13px ;
        font-weight: 400;
      }
    }
  }
  .tell-us{
    width: 100% !important;
    .content-top{
      width: 90% !important;
      margin-left: 5%;
      margin-right: 5%;
      display: flex;
      align-items: start;
      flex-direction: row;
      justify-content: start;
      .upload{
        width: 100% !important;
        margin: 10px;
        .text{
          font-size: 15px;
          font-weight: 700;
          width: 100% !important;
        }
        .square{
          display: flex;
          align-items: start;
          flex-direction: column;
          justify-content: start;
          .buttons{
            display: flex;
            align-items: start;
            flex-direction: row;
            justify-content: start;
            .video{
              border-radius: 0px;
              border-top-right-radius: 10px;
              border-top-left-radius: 10px;
              margin-top: 20px;
              margin-bottom: 0px;
            }
            .audio{
              border-radius: 0px;
              border-top-right-radius: 10px;
              border-top-left-radius: 10px;
              margin-top: 20px;
              margin-bottom: 0px;
            }
            .text-botton{
              border-radius: 0px;
              border-top-right-radius: 10px;
              border-top-left-radius: 10px;
              margin-top: 20px;
              margin-bottom: 0px;
            }
          }
          .main{
            width: 100% !important;
          }
        }
      }
    }

  }
}
@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
