@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
.login-section{
  min-height: 800px;
}
.TopMask{
  right:0px;
  position: absolute;
  z-index: 2;
  top: 0px;
}
.Mask{
  right:0px;
  position: absolute;
  z-index: 1;
  top: 0px;
}
.mains{
  position: relative;
  top: 120px;
  width: 100%;
  height: 100%;
}
.login-div{
width: 470px;
height: 589px;
box-shadow: 0px 0px 32px  rgba(69, 102, 183, .14);
z-index: 5;
background: white;
border-radius: 20px;
}
.login{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ManLeft{
  width:470px;
  z-index: 4;
}
.ManLeft img{
  left: -159px;
  position: relative;
}

.ManRight{
width:470px;
z-index: 4;
padding-right: 58px;
}
.ManRight img{
  position: relative;
  left:182px;
}
.login-fields{
  width: 470px;
}

.login-inputs{
  position: relative;
  top: 70px;
  left: 62px;
  width: 350px;
  height: 100%;
}
.login-inputs .title{
  color: #1F1F1F;
  font-size: 25px;
  font-family: 'CircularStd';
  line-height: 30px;
}
.login-inputs .looking{
  color: #809090;
  position: relative;
  top: 20px;
  font-size: 14px;
  font-family: 'CircularStd';
  line-height: 16px;
}
.login-inputs .looking a{
  color: #66C346;
}
.login-inputs .email{
  position: relative;
  top: 90px;
  font-size: 14px;
  font-family:  'CircularStd','FontAwesome';
  line-height: 16px;
}

.login-inputs .password{
  position: relative;
  top: 130px;
  font-size: 14px;
  font-family:  'CircularStd','FontAwesome';
  line-height: 16px;
}
.view-password{
  position: relative;
  float: right;
  top: -35px;
  right: 10px;
  font-size: 14px;
  font-family:  'CircularStd','FontAwesome';
}
.login-inputs .forget{

  position: relative;
  top: 150px;
  font-size: 14px;
  font-family: Arial, 'Font Awesome 5 Free';
  line-height: 16px;
  text-align: right;
}
.login-inputs .forget a{
  color: #66C346;
}

.login-inputs .login{
  position: relative;
  top: 180px;
  font-size: 12px;
  font-family: 'CircularStd';
  line-height: 16px;
}
.login-inputs .signup{
  text-align: center;
  position: relative;
  top: 200px;
  font-size: 14px;
  font-family: 'CircularStd';
  line-height: 16px;
  color: #809090;
}
.login-inputs .signup a{
  color: #66C346;
}
.btn-custom-danger{
  background:#CA0010;
  color: white;
}
.btn-custom-danger:hover{
  background:rgb(202, 0, 16, .5);
  color: whitesmoke;
}

