<div class="topLeft">
  <img src="../../../../assets/img/reference/welcome/topLeft.png" />
</div>
<div class="contents">
  <div class="ressources">
    <div class="content">
      <div class="title">Resources
      </div>
      <div class="sub-title">
        Here you will find useful resources (Articles, video, audio)
      </div>
      <div class="sub-content">
        <div class="left">
          <div class="image">
            <img src="../../../../assets/img/landing/other-play.png" />
          </div>
          <div class="text">
            <div class="main">Lorem ipsum dolor sit amet</div>
            <div class="sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non interdum libero, quis condimentum arcu. Ut a ante turpis. Nam non ligula at purus faucibus sagittis. </div>
            <div class="link"><a href="#">Learn more  →</a></div>
          </div>
        </div>
        <div class="right">
          <div class="top">
            <div class="image">
              <img src="../../../../assets/img/landing/Play.png" />
            </div>
            <div class="text">
                <div class="main"><span><i class="fa fa-video-camera" aria-hidden="true"></i></span>
                  Lorem ipsum dolor sit amet
                </div>
                <div class="sub">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non interdum libero, quis condimentum arcu. Ut a ante turpis. Nam non ligula at purus faucibus sagittis.
                </div>
            </div>
            <div class="persone">
              <img src="../../../../assets/img/landing/persone.png" />
            </div>
          </div>
          <div class="bottom">
            <div class="image">
              <div class="title">
                Lorem ipsum dolor
              </div>
            </div>
            <div class="image">
              <div class="title">
                Lorem ipsum dolor
              </div>
            </div>
            <div class="image">
              <div class="title">
                Lorem ipsum dolor
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
<div class="rightBG"></div>
<div class="bottomRight"></div>
