<div class="container">
  <div class="row text-center">
    <div class="col">
      <section class="mainMenu">
        <ul id="menu">
          <li><a href="#">About us </a></li>
          <li><a href="#">Why Talent Check   </a></li>
          <li><a href="#">How it works   </a></li>
          <li><a href="#">Trusted by  </a></li>
          <li><a href="#">Plans   </a></li>
          <li><a href="#">Resources  </a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </section>
      </div>
    </div>
  </div>

