<div class="topLeft">
  <img src="../../../../assets/img/reference/welcome/topLeft.png" />
</div>
<div class="contents">

  <div class="profile">
    <div class="content">
      <div class="title">Profile
      </div>
      <div class="sub-title">Store and manage your reference check</div>
      <div class="sub-content">
        <div class="left">
          <div>Personal details</div>
          <div class="inputs">
            <div class="part1">
          <div class="user-input-wrp w2">
            <br/>
            <input type="text" class="inputText" required/>
            <span class="floating-label">First name</span>
          </div>

          <div class="user-input-wrp w2">
            <br/>
            <input type="text" class="inputText" required/>
            <span class="floating-label">Last name</span>
          </div>

        </div>
        <br />
        <br />
        <div class="user-input-wrp w5">
          <br/>
          <input type="text" class="inputText" required/>
          <span class="floating-label">Phone number</span>
        </div>
        <br />
        <br />     <br />
        <br />
        <div class="submit"><button class="btn btn-custom-danger form-control">Edit</button></div>

      </div>


        </div>
        <div class="right">
          <div>Scurity details</div>
          <div class="inputs">
          <div class="user-input-wrp w5">
            <br/>
            <input type="text" class="inputText" required/>
            <span class="floating-label">Email</span>
          </div>
          <div class="submit"><button class="btn btn-custom-danger form-control">Edit</button></div>
          <br />
          <br />
          <div class="user-input-wrp w5">
          <br/>
          <input type="password" class="inputText" required/>
          <span class="floating-label">Password</span>
        </div>
        <br />
        <div class="submit"><button class="btn btn-custom-danger form-control">Edit</button></div>

        </div>
      </div>

    </div>
  </div>

</div>
<div class="rightBG"></div>
