<div class="topLeft">
  <img src="../../../../assets/img/reference/welcome/topLeft.png" />
</div>
<div class="contents">

  <div class="profile">
    <div class="content">
      <div class="sub-title">
        <span class="title">Profile</span>
        <span>Store and manage your reference check</span>
      </div>
      <div class="sub-content">
        <div class="left">
          <span class="sub-title-small">Personal details</span>
          <div class="inputs">
            <div class="part1">
              <div class="user-input-wrp w2">
                <input type="text" placeholder="First Name" class="inputText" required />
                <!-- <span class="floating-label">First name</span> -->
              </div>
              <div class="user-input-wrp w2">
                <input type="text" placeholder="Last Name" class="inputText" required />
                <!-- <span class="floating-label">Last name</span> -->
              </div>
            </div>

            <div class="user-input-wrp w5">
              <input type="text" placeholder="Phone Number" class="inputText" required />
              <!-- <span class="floating-label">Phone number</span> -->
            </div>
            <div class="submit"><button class="btn btn-custom-danger form-control">Edit</button></div>
          </div>
        </div>

        <div class="right">
          <span class="sub-title-small">Security details</span>
          <div class="inputs">
            <div class="user-input-wrp w5">
              <input type="text" placeholder="Email" class="inputText" required />
              <!-- <span class="floating-label">Email</span> -->
            </div>
            <div class="submit"><button class="btn btn-custom-danger form-control">Edit</button></div>
            <div class="user-input-wrp w5">

              <input type="password" placeholder="********" class="inputText" required />
              <!-- <span class="floating-label">Password</span> -->
            </div>

            <div class="submit"><button class="btn btn-custom-danger form-control">Edit</button></div>
          </div>
        </div>

      </div>
      <div class="sub-contents">
        <div class="left">
          <div class="title">Subscription details</div>
          <div class="main">
            <div class="plan-free">
              <div class="top-image">
                <div class="image"></div>
                <div class="text">Free</div>
              </div>
              <div class="content">
                <div class="sub">
                  <div class="title"> Collect:</div>
                  <div class="description"><i class="fa fa-check" aria-hidden="true"></i> 1 video/Text reference</div>
                </div>
                <div class="sub">
                  <div class="title"> Store:</div>
                  <div class="description"><i class="fa fa-check" aria-hidden="true"></i> 3 months</div>
                </div>
                <div class="sub">
                  <div class="title"> Share:</div>
                  <div class="description"><i class="fa fa-check" aria-hidden="true"></i> 1 Unlimited shares</div>
                </div>
                <div class="sub">
                  <div class="title"> Dashboard:</div>
                  <div class="description"><i class="fa fa-times" aria-hidden="true" style="color: red;"></i> N/A</div>
                </div>

                <div class="sub-price">
                  <div class="title"> Price:</div>
                  <div class="free-price">FREE</div>
                </div>
                <div class="number">
                  01
                </div>
                <div class="select-button">
                  <button class="btn btn-custom-danger" (click)="openPopup('free')">Choose another plan</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="center">
          <div class="inputs">
            <div class="part1">
              <div class="user-input-wrp w2">
                <p></p>
                <input type="text" class="inputText" required />
                <span class="floating-label">Date of subscription</span>
              </div>

              <div class="user-input-wrp w2">
                <p></p>
                <input type="text" class="inputText" required />
                <span class="floating-label">Expity date</span>
              </div>

            </div>
            <div class="user-input-wrp w5">
              <p></p>
              <input type="text" class="inputText" required />
              <span class="floating-label">Payment method</span>
            </div>
            <div class="title">Auto-renewal</div>
            <div class="form-check form-switch" style="text-align: left;">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">Yes/No</label>
            </div>
          </div>

        </div>

        <div class="right">
          <div class="title">Transaction history</div>
          <div class="displayed-table">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Type</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                @for (item of list; track $index) {
                <tr>
                  <td>12/04/2021</td>
                  <td>Auto-renuwal «Premium»</td>
                  <td>$30</td>

                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="rightBG"></div>
