<ngb-carousel class="carousel-container" *ngIf="showCarousel" #carousel [interval]="5000">
  <ng-template ngbSlide>
    <div class="plan-free">
      <div class="top-image">
        <div class="image"></div>
        <div class="text">Free</div>
      </div>
      <div class="content">
        <div class="sub">
          <div class="title"> Collect:</div>
          <div class="description"><i class="fa fa-check" aria-hidden="true"></i> 1 video/Text reference</div>
        </div>
        <div class="sub">
          <div class="title"> Store:</div>
          <div class="description"><i class="fa fa-check" aria-hidden="true"></i> 3 months</div>
        </div>
        <div class="sub">
          <div class="title"> Share:</div>
          <div class="description"><i class="fa fa-check" aria-hidden="true"></i> 1 Unlimited shares</div>
        </div>
        <div class="sub">
          <div class="title"> Dashboard:</div>
          <div class="description"><i class="fa fa-times" aria-hidden="true" style="color: red;"></i> N/A</div>
        </div>

        <div class="sub-price">
          <div class="title"> Price:</div>
          <div class="free-price">FREE</div>
        </div>
        <div class="number">
          01
        </div>
        <div class="select-button">
          <button class="btn btn-custom-danger" (click)="openPopup('free')">Select</button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="plan-free">
      <div class="top-image">
        <div class="image"></div>
        <div class="text">Free</div>
      </div>
      <div class="content">
        <div class="sub">
          <div class="title"> Collect:</div>
          <div class="description"><i class="fa fa-check" aria-hidden="true"></i> 1 video/Text reference</div>
        </div>
        <div class="sub">
          <div class="title"> Store:</div>
          <div class="description"><i class="fa fa-check" aria-hidden="true"></i> 3 months</div>
        </div>
        <div class="sub">
          <div class="title"> Share:</div>
          <div class="description"><i class="fa fa-check" aria-hidden="true"></i> 1 Unlimited shares</div>
        </div>
        <div class="sub">
          <div class="title"> Dashboard:</div>
          <div class="description"><i class="fa fa-times" aria-hidden="true" style="color: red;"></i> N/A</div>
        </div>

        <div class="sub-price">
          <div class="title"> Price:</div>
          <div class="free-price">FREE</div>
        </div>
        <div class="number">
          01
        </div>
        <div class="select-button">
          <button class="btn btn-custom-danger" (click)="openPopup('free')">Select</button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="plan-free">
      <div class="top-image">
        <div class="image"></div>
        <div class="text">Free</div>
      </div>
      <div class="content">
        <div class="sub">
          <div class="title"> Collect:</div>
          <div class="description"><i class="fa fa-check" aria-hidden="true"></i> 1 video/Text reference</div>
        </div>
        <div class="sub">
          <div class="title"> Store:</div>
          <div class="description"><i class="fa fa-check" aria-hidden="true"></i> 3 months</div>
        </div>
        <div class="sub">
          <div class="title"> Share:</div>
          <div class="description"><i class="fa fa-check" aria-hidden="true"></i> 1 Unlimited shares</div>
        </div>
        <div class="sub">
          <div class="title"> Dashboard:</div>
          <div class="description"><i class="fa fa-times" aria-hidden="true" style="color: red;"></i> N/A</div>
        </div>

        <div class="sub-price">
          <div class="title"> Price:</div>
          <div class="free-price">FREE</div>
        </div>
        <div class="number">
          01
        </div>
        <div class="select-button">
          <button class="btn btn-custom-danger" (click)="openPopup('free')">Select</button>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
