.home-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1px;
}

.topUp {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 811px;


}

.line {
  top: 352px;
  width: 1263px;
  height: 1004px;
  background-image: url(../../../../assets/img/landing/Line.png);
  background-repeat: no-repeat;
  float: right;
  right: 200px;
  z-index: -20;
  margin-bottom: 30px;
  position: absolute;
}

.rightBG {
  position: absolute;
  width: 768px;
  height: 1021px;
  background-image: url("../../../../assets/img/landing/BG2.png");
  background-repeat: no-repeat;
  left: 0px;
  top: 537px;
  z-index: -1;
}

.welcome-part {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  min-height: 55vh;
  width: 100%;

}

.welcome-text {
  position: relative;
  width: 1263px !important;
  margin-left: auto;
  margin-right: auto;

  .welcome-content {
    width: 760px !important;
    position: relative;
    float: left;
    top: 80px;
  }

  .title {
    position: relative;
    width: 760px !important;
    font-size: 45px;
    font-family: 'Conv_Circular Std Bold';
    color: #1F1F1F;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;

    .image {
      position: relative;
      float: right;
      width: 0px;
      right: 447px;
      top: 10px;
      z-index: -1;
    }
  }

  .text {
    position: relative;
    width: 760px !important;
    top: 20px;
    font-size: 18px;
    font-family: 'CircularStd';
    color: #809090;
    width: 100%;
  }

  .button {
    position: relative;
    top: 40px;
    width: 142px;
  }

  .welcome-image {
    position: relative;
    float: left;
    bottom: 30px;
    width: 427px;
  }
}

.btn-custom-danger {
  font-size: 12px;
  font-family: 'CircularStd';
  line-height: 14px;
  background: #CA0010;
  color: white;
  width: 100%;
  text-transform: uppercase;
  height: 45px;
}

.btn-custom-danger:hover {
  background: rgb(202, 0, 16, .5);
  color: whitesmoke;
}

.WhyTalent-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  width: 100%;
}

.objectives {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1263px !important;
  margin-left: auto;
  margin-right: auto;

  .objective-content {
    width: 80% !important;
    position: relative;
    top: 80px;


    .title {
      position: inherit;
      width: 100% !important;
      font-size: 25px;
      font-family: 'Conv_Circular Std Bold';
      color: #1F1F1F;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
    }

    .sub-title {
      padding-bottom: 30px;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 40px;


      .obj-img {
        padding-top: 30px;
        width: 100%;
        border: 2px dashed #eaedf7;
        border-radius: 5px;
        padding-bottom: 30px;
      }
    }
  }
}

.rsrc {
  position: relative;
  width: 1263px !important;
  margin-left: auto;
  margin-right: auto;
  min-height: 90vh;
  top: 80px;

  .title {
    position: inherit;
    width: 100% !important;
    font-size: 25px;
    font-family: 'Conv_Circular Std Bold';
    color: #1F1F1F;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }

  .block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;


    .objective-content {
      width: 40% !important;
      position: relative;
      top: 80px;

      .sub-title {
        padding-bottom: 30px;
      }

      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;

        .obj-img {
          padding-top: 30px;
          width: 100%;
          padding-bottom: 30px;
        }
      }
    }
  }


}



.objectives .main-talent .title {
  position: relative;
  width: 760px !important;
  font-size: 45px;
  font-family: 'Conv_Circular Std Bold';
  color: #1F1F1F;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
}

.objectives .main-talent .content img {

  width: 200px;
  height: 200px;

}

.main-talent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 543px;


  .talent-ckech {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1279px;
    height: 543px;
    background: white;

    .title span {
      width: 100%;
      height: 85px !important;
      text-align: center;
      position: relative;
      font-size: 35px;
      font-weight: 800;
      font-family: 'CircularStd';
      line-height: 67px;
      color: #1F1F1F;
      width: 100%;
      height: 45px;

      img {
        position: relative;
        float: left;
        left: 483px;
        bottom: 27px;
        z-index: 2;
      }

      span {
        position: relative;
        z-index: 3;
      }
    }

    .sub-title {
      position: relative;
      width: 781px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      font-style: italic;
      font-family: 'CircularStd';
      color: #1F1F1F;
    }

    .content {
      width: 100%;
    }

    .text {
      position: relative;
      width: 742px;
      text-align: left;
      float: left;
      left: 133px;
      top: 50px;
      font-size: 16px;
      font-family: 'CircularStd';
      color: #809090;
    }

    .image {
      position: relative;
      float: right;
      width: 354px;
      height: 329px;
      background-image: url("../../../../assets/img/landing/talanet_check.png");
      background-size: 100%;
      background-repeat: no-repeat;
      left: 20px;
      bottom: 0px;
    }
  }

}

.leftBG1 {
  position: absolute;
  width: 494px;
  height: 958px;
  top: 875px;
  right: 0px;
  background-image: url("../../../../assets/img/landing/BG2.1.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.HowItWorks-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* min-height: 10vh; */
  width: 100%;

}


.works {

  width: 100%;
  height: 598px;

  .content {
    font-size: 16px;
    font-weight: 600;
    font-family: 'CircularStd';
    color: #1F1F1F;
    margin-left: auto;
    margin-right: auto;
    width: 780px;

    .title {
      width: 100%;
      height: 85px !important;
      text-align: center;
      font-size: 35px;
      font-weight: 600;
      font-family: 'CircularStd';
      color: #1F1F1F;

      .image {
        position: relative;
        float: left;
        width: 0px;
        left: 386px;
        top: 10px;
        z-index: -1;
      }
    }

    .video {
      position: relative;
      font-size: 16px;
      font-weight: 600;
      font-style: italic;
      font-family: 'CircularStd';
      color: #1F1F1F;
      z-index: 2;
    }

    .image {
      position: relative;
      right: 302px;
      bottom: 701px;
      width: 494px;
      height: 418px;
      background-image: url("../../../../assets/img/landing/How_it_works.png");
      background-size: 100%;
      background-repeat: no-repeat;
      z-index: 1;
    }
  }

}

.TrustedBy-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  width: 100%;

}


.trusted {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 221px;
  min-height: 85vh;


  .content {
    font-size: 16px;
    font-weight: 600;
    width: 80%;
    font-family: 'CircularStd';
    color: #1F1F1F;

    .title {
      width: 100%;
      height: 85px !important;
      text-align: center;
      font-size: 35px;
      font-weight: 600;
      font-family: 'CircularStd';
      color: #1F1F1F;

      .image {
        position: relative;
        float: left;
        width: 0px;
        left: 509px;
        top: 10px;
        z-index: -1;
      }
    }

    .images {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .img-element img {
        width: 120px;
      }
    }


  }
}

.rightBG2 {
  position: absolute;
  width: 216px;
  height: 771px;
  top: 1989px;
  right: 0px;
  background-image: url("../../../../assets/img/landing/BG3.1.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.leftBG2 {
  position: absolute;
  width: 314px;
  height: 757px;
  top: 2041px;
  left: 0px;
  background-image: url("../../../../assets/img/landing/BG3.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

.Plans-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  width: 100%;
}

.plans {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 711px;

  .content {
    font-size: 16px;
    font-weight: 600;
    width: 1278px;
    text-align: center;
    font-family: 'CircularStd';
    color: #1F1F1F;

    .title {
      width: 100%;
      height: 85px !important;
      text-align: center;
      font-size: 35px;
      font-weight: 600;
      font-family: 'CircularStd';
      color: #1F1F1F;

      .image {
        position: relative;
        float: left;
        width: 0px;
        left: 590px;
        top: 10px;
        z-index: -1;
      }
    }
  }
}

.Resources-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  width: 100%;
  padding-top: 100px;
}

.resources {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 507px;

  .content {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 600;
    width: 80%;
    text-align: center;
    font-family: 'CircularStd';
    color: #1F1F1F;

    .title {
      width: 100%;
      height: 85px !important;
      text-align: center;
      font-size: 35px;
      font-weight: 600;
      font-family: 'CircularStd';
      color: #1F1F1F;

      .image {
        position: relative;
        float: left;
        width: 0px;
        left: 571px;
        top: 10px;
        z-index: -1;
      }
    }

    .sub-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 507px;
    }

    .left {
      width: 540px;
      height: 100%;
      margin-right: 20px;
      text-align: left;

      .text {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;

        .main {
          text-align: left;
          font-size: 20px;
          font-weight: 600;
          font-family: 'CircularStd';
          color: #1F1F1F;
        }

        .sub {
          text-align: left;
          font-size: 13px;
          font-weight: 400;
          font-family: 'CircularStd';
          color: #819191;
        }

        .link a {
          text-align: left;
          font-size: 14px;
          font-weight: 600;
          font-family: 'CircularStd';
          color: #66C346;
        }

      }
    }

    .right {
      width: 707px;
      height: 100%;

      .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .image {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 215px;
          height: 185px;
          background: #E8EBF6;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        .text {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: flex-start;
          background: white;
          width: 491px;
          height: 185px;
          padding: 40px;

          .main {
            width: 100%;
            text-align: left;
            font-size: 20px;
            font-weight: 600;
            font-family: 'CircularStd';
            color: #1F1F1F;

            span {
              color: #DDF2D6;
              font-size: 22px;
              padding: 10px;
            }
          }

          .sub {
            width: 100%;
            text-align: left;
            font-size: 13px;
            font-weight: 400;
            font-family: 'CircularStd';
            color: #819191;
          }
        }

        .persone {
          position: relative;
          float: right;
          width: 0px;
          bottom: 113px;
          right: 133px
        }
      }

      .bottom {
        padding-top: 20px;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;

        .image {
          width: 216px;
          height: 185px;
          background-image: url("../../../../assets/img/landing/play-others.png");
          background-repeat: no-repeat;
          background-size: 100%;

          .title {
            position: relative;
            text-align: center;
            height: 16px !important;
            font-size: 14px;
            font-weight: 600;
            font-family: 'CircularStd';
            color: #1F1F1F;
            top: 135px;
            left: 10px;
          }
        }
      }
    }
  }
}

.ContactUs-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  width: 100%;

}

.contact-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 311px;

  .content {
    font-size: 16px;
    font-weight: 600;
    width: 1278px;
    text-align: center;
    font-family: 'CircularStd';
    color: #1F1F1F;

    .title {
      width: 100%;
      height: 85px !important;
      text-align: center;
      font-size: 35px;
      font-weight: 600;
      font-family: 'CircularStd';
      color: #1F1F1F;

      .image {
        position: relative;
        float: left;
        width: 0px;
        left: 548px;
        top: 10px;
        z-index: -1;
      }
    }

    .sub-content {
      padding-top: 30px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      .left {
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        font-family: 'CircularStd';
        color: #809090;
        line-height: 40px;

        a {
          color: #66C346;
        }
      }

      .right {
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        font-family: 'CircularStd';
        color: #809090;
        line-height: 40px;

        a {
          color: #66C346;
        }
      }
    }
  }
}

.leftBG3 {
  position: absolute;
  width: 1033px;
  height: 1223px;
  bottom: 10px;
  right: 0px;
  background-image: url("../../../../assets/img/landing/BG6.1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -2;
}

.rightBG3 {
  position: absolute;
  width: 314px;
  height: 730px;
  bottom: 10px;
  left: 0px;
  background-image: url("../../../../assets/img/landing/BG6.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.rightBG4 {
  position: relative;
  width: 179px;
  height: 170px;
  float: left;
  top: 0px;
  left: 20px;
  background-image: url("../../../../assets/img/landing/Resources.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.upButton {
  cursor: pointer;
  position: fixed;
  z-index: 100;
  width: 30px;
  height: 99px;
  bottom: 5%;
  right: 30px;
  background-image: url("../../../../assets/img/landing/Up.png");
  background-repeat: no-repeat;
  background-size: 100%;

}


.mob-tab {
  display: none !important;
}

.desktop-tab {
  display: flex !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {

  ::ng-deep .carousel-control-next {
    display: none;
  }

  ::ng-deep .carousel-control-prev {
    display: none;
  }

  .home-div {
    margin-bottom: 0px !important;
  }

  ::ng-deep .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #002E9D;
  }

  ::ng-deep .carousel-indicators [data-bs-target] {
    border-radius: 20px !important;
    border-top: 20px;
    border-bottom: 20px;
    width: 15px;
    height: 15px;
  }

  .home-div {
    margin-bottom: 203px;
  }

  .topUp {
    width: 100%;
    text-align: right;

    .topleft {
      width: 300px;
      height: 270px;
    }


  }

  .line {
    top: 10px;
    width: 100%;
    height: 1300px;
    background-size: 100% 100%;
    right: 0px;
    margin-bottom: 350px;
  }

  .welcome-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;


  }

  .welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0px;
    width: 289px !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .welcome-content {
      width: 289px !important;
      height: 300px;
    }

    .title {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      position: relative;
      width: 209px !important;
      font-size: 20px;
      font-weight: 600;
      line-height: 29px;

      .image {
        right: 194px;
        top: 6px;

        img {
          width: 180px !important;
        }
      }
    }

    .text {
      text-align: center;
      width: 289px !important;
      font-size: 13px;
      line-height: 21px;
    }

    .button {
      width: 289px !important;
    }

    .start {
      width: 100%;
      text-align: center;

      button {
        width: 230px;
      }
    }

    .welcome-image {
      position: static;
      width: 100%;
      height: 300px;
      left: 0px;
      text-align: center;

      img {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 270px;
      }
    }
  }

  .btn-custom-danger {
    font-size: 12px;
    font-family: 'CircularStd';
    line-height: 14px;
    background: #CA0010;
    color: white;
    width: 100%;
    text-transform: uppercase;
    height: 45px;
  }

  .btn-custom-danger:hover {
    background: rgb(202, 0, 16, .5);
    color: whitesmoke;
  }

  .WhyTalent-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
  }



  .main-talent {
    height: auto;
    position: absolute;


    .talent-ckech {
      padding-top: 80px;
      width: 288px;
      height: 716px;

      .title {
        height: 85px !important;
        font-size: 25px;
        font-weight: 700;
        color: #1F1F1F;

        img {
          left: 18px;
        }

        span {
          position: relative;
          z-index: 3;
        }
      }

      .sub-title {
        width: 255px;
        height: 183px;
        font-size: 15px;
        font-weight: 500;
      }

      .content {
        text-align: center;
      }

      .text {
        right: 10%;
        left: 10%;
        width: 80%;
        text-align: center;
        top: 30px;
        margin-left: auto;
        margin-right: auto;
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;

      }

      .image {
        top: 40px;
        width: 300px;
        height: 329px;
      }
    }

  }

  .HowItWorks-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* min-height: 30vh; */
    width: 100%;

  }

  .works {
    z-index: 1000;
    height: 300px;
    width: 100%;
    left: 0px;

    .content {
      width: 87%;

      .title {
        font-size: 25px;
        font-weight: 700;
        line-height: 67px;

        .image {
          left: 204px;

          img {
            width: 85px;
            height: 10px;
          }
        }
      }

      .video {
        width: 100%;
        text-align: center;

        img {
          margin-left: auto;
          margin-right: auto;
          width: 289px;
        }
      }

      .image {
        left: 244px;
        bottom: 286px;
        width: 197px;
        height: 167px;
      }
    }

  }

  .TrustedBy-part {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    min-height: 40vh;
    width: 100%;
  }

  .trusted {

    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          left: 108px;

          img {
            width: 86px;
          }
        }
      }
    }

    .images {
      width: 100%;

      .carousel-container {
        position: relative;
        top: 0px;
        color: white;
        width: 100%;
        z-index: 10;


        .spotify {
          width: 100%;
          text-align: center;
          height: 150px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }
    }

  }

  .Plans-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    width: 100%;

  }

  .plans {


    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          top: 10px;

          img {
            width: 80px;
            position: relative;
            left: -420px;
          }
        }
      }
    }
  }

  .Resources-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;

  }

  .resources {

    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          top: 10px;
          left: 35%;

          img {
            width: 120px;
          }
        }
      }

      .sub-content {
        position: relative;
        top: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 507px;
      }

      .left {
        width: 288px;
        height: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        .image {
          width: 288px;

          img {
            width: 100%;
          }
        }

        .text {
          .main {
            font-size: 15px;
            font-weight: 700;
          }
        }
      }

      .right {
        position: relative;
        width: 288px;
        height: 100%;
        top: 40px;

        .top {
          .image {
            width: 100px;
            height: 175px;
          }

          .text {
            padding: 20px;

            .main {
              font-size: 15px;
              font-weight: 700;
            }

            .sub {
              width: 100%;
              text-align: left;
              font-size: 13px;
              font-weight: 400;
              line-height: 21px;
              font-family: 'CircularStd';
              color: #819191;

              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .persone {
            img {
              width: 130px;
              right: -50px;
              position: relative;
            }
          }
        }

        .bottom {
          .image {
            width: 134px;
            height: 170px;
            background-color: white;

            .title {
              top: 100px;
              line-height: 16px;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .ContactUs-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 80vh;
    width: 100%;
  }

  .contact-us {
    z-index: 20;

    .content {
      .title {
        font-size: 25px;
        font-weight: 700;
        height: 30px !important;

        .image {
          left: 35%;
          width: 0px;

          img {
            width: 120px;
          }
        }
      }

      .sub-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .left {
          font-size: 13px;
          text-align: center;
        }

        .right {
          font-size: 13px;
          text-align: center;
        }
      }
    }
  }

  .rightBG3 {
    z-index: -2;
  }

  .rightBG4 {
    position: relative;
    width: 179px;
    height: 170px;
    top: 0px;


  }

  .upButton {
    display: none;
  }

  .desktop-tab {
    display: none !important;
  }

  .mob-tab {
    display: flex !important;
  }

  .images {
    width: 100%;

    .carousel-container {
      position: relative;
      top: 0px;
      color: white;
      width: 100%;
      z-index: 10;


      .spotify {
        width: 300px;
        height: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }
  }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

  .topUp {
    width: 100%;
    text-align: right;

    .topleft {
      width: 546px;
      height: 531px;
    }


  }

  .home-div {
    margin-bottom: 0px !important;
  }

  .line {
    top: 10px;
    width: 100%;
    height: 3200px;
    background-size: 100% 100%;
    right: 0px;
  }

  .welcome-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    width: 100%;

  }

  .welcome-text {

    top: 190px;
    position: relative;
    left: 50px;
    width: 900px !important;
    text-align: left;


    .welcome-content {
      width: 900px !important;
      height: 300px;
    }

    .welcome-image {
      position: relative;
      float: right;
      height: 300px;
      left: 0px;
      right: 10%;
      text-align: right;

      img {
        position: relative;
        right: 4%;
        width: 300px;
      }
    }

    .title {
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      position: relative;
      width: 900px !important;
      font-size: 30px;
      font-weight: 700;
      line-height: 47px;

      .image {
        right: 255px;
        top: 6px;

        img {
          width: 237px !important;
        }
      }
    }

    .text {
      text-align: left;
      width: 446px !important;
      font-size: 15px;
      line-height: 25px;
    }

    .button {
      width: 289px !important;
    }

    .start {
      width: 100%;
      text-align: center;

      button {
        width: 230px;
      }
    }
  }

  .btn-custom-danger {
    font-size: 12px;
    font-family: 'CircularStd';
    line-height: 14px;
    background: #CA0010;
    color: white;
    width: 100%;
    text-transform: uppercase;
    height: 45px;
  }

  .btn-custom-danger:hover {
    background: rgb(202, 0, 16, .5);
    color: whitesmoke;
  }


  .main-talent {
    height: auto;
    position: absolute;
    top: 752px;

    .talent-ckech {
      padding-top: 80px;
      width: 700px;
      height: 543px;

      .title {
        height: 85px !important;
        font-size: 25px;
        font-weight: 700;
        color: #1F1F1F;

        img {
          position: relative;
          left: 42%;
        }

        span {
          position: relative;
          z-index: 3;
        }
      }

      .sub-title {
        width: 60%;
        height: 183px;
        font-size: 15px;
        font-weight: 500;
      }

      .content {
        text-align: center;
      }

      .text {
        right: 10%;
        left: 10%;
        width: 60%;
        text-align: left;
        top: 30px;
        margin-left: auto;
        margin-right: auto;
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;

      }

      .image {
        position: relative;
        top: -70px;
        width: 300px;
        height: 329px;
      }
    }

  }



  .works {
    top: 1650px;
    z-index: 1000;

    .content {
      .title {
        font-size: 25px;
        font-weight: 700;
        line-height: 67px;

        .image {
          img {
            width: 85px;
            height: 10px;
          }
        }
      }

      .video {
        width: 100%;

        img {
          margin-left: 20%;
          margin-right: 20%;
          width: 60%;
        }
      }

      .image {
        left: 40px;
        top: -369px;
        width: 197px;
        height: 167px;
      }
    }

  }

  .trusted {
    top: 1432px;

    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          left: 42%;

          img {
            width: 86px;
          }
        }
      }
    }
  }

  .plans {
    top: 2229px;

    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          top: 10px;

          img {
            padding-left: 15px;
            width: 80px;
          }
        }
      }
    }
  }

  .resources {
    top: 3037px;

    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          top: 10px;
          left: 44%;

          img {
            width: 120px;
          }
        }
      }

      .sub-content {
        position: relative;
        top: 110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 507px;
        margin-left: auto;
        margin-right: auto;
      }

      .left {
        width: 325px;
        height: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        .image {
          width: 288px;

          img {
            width: 100%;
          }
        }

        .text {
          .main {
            font-size: 15px;
            font-weight: 700;
          }
        }
      }

      .right {
        position: relative;
        width: 325px;
        height: 100%;


        .top {
          .image {
            width: 100px;
            height: 175px;
          }

          .text {
            padding: 20px;

            .main {
              font-size: 15px;
              font-weight: 700;
            }

            .sub {
              width: 100%;
              text-align: left;
              font-size: 13px;
              font-weight: 400;
              line-height: 21px;
              font-family: 'CircularStd';
              color: #819191;

              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .persone {
            img {
              width: 130px;
              right: -50px;
              position: relative;
            }
          }
        }

        .bottom {
          .image {
            width: 134px;
            height: 170px;
            background-color: white;

            .title {
              top: 100px;
              line-height: 16px;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .ContactUs-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 80vh;
    width: 100%;
  }

  .contact-us {
    top: 3670px;
    z-index: 20;

    .content {
      .title {
        font-size: 25px;
        font-weight: 700;
        height: 30px !important;

        .image {
          left: 44%;
          width: 0px;

          img {
            width: 120px;
          }
        }
      }

      .sub-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .left {
          font-size: 13px;
          text-align: center;
        }

        .right {
          font-size: 13px;
          text-align: center;
        }
      }
    }
  }

  .rightBG3 {
    z-index: -2;
    width: 211px;
    height: 481px;
    top: 3603px;
  }

  .rightBG4 {
    position: relative;
    width: 179px;
    height: 170px;
    top: 0px;

  }

  .upButton {
    display: none;
  }

  .leftBG3 {
    bottom: 10px;
    width: 791px;
    height: 971px;
  }


}


@media only screen and (max-width: 991px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .topUp {
    width: 100%;
    text-align: right;

    .topleft {
      width: 546px;
      height: 531px;
    }

    .welcome {
      width: 100%;
      top: -333px;
      left: 0px;
      right: 10%;
      text-align: right;

      img {
        position: relative;
        right: 4%;
        width: 350px;
      }
    }
  }

  .home-div {
    margin-bottom: 0px !important;
  }

  .line {
    top: 10px;
    width: 100%;
    height: 3300px;
    background-size: 100% 100%;
    right: 0px;
  }

  .welcome-text {
    top: 276px;
    position: relative;
    left: 50px;
    width: 484px !important;
    text-align: left;

    .welcome-content {
      width: 484px !important;
      position: relative;
      float: left;
    }

    .welcome-image {
      width: 100%;
      top: -380px;
      left: 0px;
      right: 10%;
      text-align: right;

      img {
        position: relative;
        right: 4%;
        width: 350px;
      }
    }

    .title {
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      position: relative;
      width: 484px !important;
      font-size: 30px;
      font-weight: 700;
      line-height: 47px;

      .image {
        right: 194px;
        top: 6px;

        img {
          width: 180px !important;
        }
      }
    }

    .text {
      text-align: left;
      width: 446px !important;
      font-size: 15px;
      line-height: 25px;
    }

    .button {
      width: 289px !important;
    }

    .start {
      width: 100%;
      text-align: center;

      button {
        width: 230px;
      }
    }
  }

  .btn-custom-danger {
    font-size: 12px;
    font-family: 'CircularStd';
    line-height: 14px;
    background: #CA0010;
    color: white;
    width: 100%;
    text-transform: uppercase;
    height: 45px;
  }

  .btn-custom-danger:hover {
    background: rgb(202, 0, 16, .5);
    color: whitesmoke;
  }


  .main-talent {
    height: auto;
    position: absolute;
    top: 752px;

    .talent-ckech {
      padding-top: 80px;
      width: 700px;
      height: 543px;

      .title {
        height: 85px !important;
        font-size: 25px;
        font-weight: 700;
        color: #1F1F1F;

        img {
          left: 18px;
        }

        span {
          position: relative;
          z-index: 3;
        }
      }

      .sub-title {
        width: 60%;
        height: 183px;
        font-size: 15px;
        font-weight: 500;
      }

      .content {
        text-align: center;
      }

      .text {
        right: 10%;
        left: 10%;
        width: 60%;
        text-align: left;
        top: 30px;
        margin-left: auto;
        margin-right: auto;
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;

      }

      .image {
        position: relative;
        top: -70px;
        width: 300px;
        height: 329px;
      }
    }

  }


  .works {
    top: 1716px;
    z-index: 1000;

    .content {
      .title {
        font-size: 25px;
        font-weight: 700;
        line-height: 67px;

        .image {
          left: 204px;

          img {
            width: 85px;
            height: 10px;
          }
        }
      }

      .video {
        width: 100%;

        img {
          margin-left: 20%;
          margin-right: 20%;
          width: 60%;
        }
      }

      .image {
        left: 40px;
        top: 119px;
        width: 197px;
        height: 167px;
      }
    }

  }

  .trusted {
    top: 1600px;

    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          left: 108px;

          img {
            width: 86px;
          }
        }
      }
    }
  }


  .plans {
    top: 2229px;

    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          top: 10px;

          img {
            padding-left: 15px;
            width: 80px;
          }
        }
      }
    }
  }


  .resources {
    top: 3037px;

    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          top: 10px;
          left: 35%;

          img {
            width: 120px;
          }
        }
      }

      .sub-content {
        position: relative;
        top: 110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 507px;
        margin-left: auto;
        margin-right: auto;
      }

      .left {
        width: 325px;
        height: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        .image {
          width: 288px;

          img {
            width: 100%;
          }
        }

        .text {
          .main {
            font-size: 15px;
            font-weight: 700;
          }
        }
      }

      .right {
        position: relative;
        width: 325px;
        height: 100%;


        .top {
          .image {
            width: 100px;
            height: 175px;
          }

          .text {
            padding: 20px;

            .main {
              font-size: 15px;
              font-weight: 700;
            }

            .sub {
              width: 100%;
              text-align: left;
              font-size: 13px;
              font-weight: 400;
              line-height: 21px;
              font-family: 'CircularStd';
              color: #819191;

              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .persone {
            img {
              width: 130px;
              right: -50px;
              position: relative;
            }
          }
        }

        .bottom {
          .image {
            width: 134px;
            height: 170px;
            background-color: white;

            .title {
              top: 100px;
              line-height: 16px;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }


  .contact-us {
    top: 3670px;
    z-index: 20;

    .content {
      .title {
        font-size: 25px;
        font-weight: 700;
        height: 30px !important;

        .image {
          left: 35%;
          width: 0px;

          img {
            width: 120px;
          }
        }
      }

      .sub-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .left {
          font-size: 13px;
          text-align: center;
        }

        .right {
          font-size: 13px;
          text-align: center;
        }
      }
    }
  }

  .rightBG3 {
    z-index: -2;
    width: 211px;
    height: 481px;
    top: 3603px;
  }

  .rightBG4 {
    width: 179px;
    height: 170px;
    top: 3888px;
    left: 6%;
  }

  .upButton {
    display: none;
  }

  .leftBG3 {
    top: 2875.16px;
    width: 791px;
    height: 971px;
  }
}
