<div class="home-div">
  <div class="topUp">
    <img src="../../../../assets/img/landing/topleft.png" class="topleft" />

  </div>
  <div class="welcome-part">
    <div class="welcome-text">
      <div class="welcome-image mob-tab">
        <img src="../../../../assets/img/landing/welcome_talents.png" />
      </div>
      <div class="welcome-content">
        <div class="title">
          Welcome to Talent Checks!
          <div class="image">
            <img src="../../../../assets/img/landing/under-welcome.png" />
          </div>
        </div>
        <div class="text">
          Discover the only automated reference checking platform for both candidates and organizations. Candidates can
          effortlessly collect, securely store, and easily share video & text references with future employers.
          Organizations benefit from streamlined access to these reliable references, enhancing their hiring process.
          Experience efficiency and convenience at the click of a button with Talent Checks!

        </div>
        <div class="button">
          <div class="start"><button class="btn btn-custom-danger form-control">Lets start!</button></div>
        </div>
      </div>
      <div class="welcome-image desktop-tab">
        <img src="../../../../assets/img/landing/welcome_talents.png" />
      </div>


    </div>
  </div>
  <div class="rightBG"></div>
  <div class="line"></div>
  <div class="WhyTalent-part" id="WhyTalent">
    <div class="main-talent">
      <div class="talent-ckech">
        <div class="title">
          <span>Why Talent Checks</span>
          <div class="image-under"><img src="../../../../assets/img/landing/rec-under-why.png" /></div>

        </div>
        <div class="sub-title">
          <span><img src="../../../../assets/img/landing/Combined Shape.png" /></span>
          Gather references once, use them effectively every time – saving time and effort for candidates and companies
          alike.<span><img src="../../../../assets/img/landing/Combined Shape.png" /></span>
        </div>
        <div class="content">
          <div class="text">
            Navigating the job market can be demanding for both candidates and organizations. Candidates face the hassle
            of repeatedly soliciting references, while organizations grapple with the cumbersome process of verifying
            them. Talent Checks simplifies this for all. By automating the collection, storage, and sharing of
            references,
            we empower candidates and organizations to streamline their recruitment and hiring processes, ensuring a
            smoother journey for everyone involved.
          </div>
          <div class="image"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="leftBG1"></div>
  <div class="TrustedBy-part" id="TrustedBy">
    <div class="trusted">
      <div class="content">
        <div class="title">FEATURED IN
          <div class="image">
            <img src="../../../../assets/img/landing/under-trust.png" />
          </div>
        </div>
        <div class="images desktop-tab">
          <div class="img-element"> <a
              href="https://markets.businessinsider.com/news/stocks/talent-checks-launches-reference-tool-for-modern-job-search-1032556196"
              target="_blank" rel="noopener noreferrer"><img
                src="../../../../assets/img/featured/featured-business-insider.png" /></a></div>
          <div class="img-element"><a
              href="https://www.bloomberg.com/press-releases/2023-08-15/talent-checks-launches-reference-tool-for-modern-job-search"
              target="_blank" rel="noopener noreferrer"><img
                src="../../../../assets/img/featured/featured-bloomberg.png" /></a>
          </div>
          <div class="img-element"><a
              href="https://finance.yahoo.com/news/talent-checks-launches-reference-tool-154500015.html" target="_blank"
              rel="noopener noreferrer"><img src="../../../../assets/img/featured/featured-yahoo-finance.png" /></a>
          </div>
          <div class="img-element"><a
              href="https://www.benzinga.com/pressreleases/23/08/33862247/talent-checks-launches-reference-tool-for-modern-job-search"
              target="_blank" rel="noopener noreferrer"><img
                src="../../../../assets/img/featured/featured-benzinga.png" /></a></div>
          <div class="img-element"><a
              href="https://ceoweekly.com/from-pepsico-to-talent-checks-ehab-abdelhafezs-new-way-to-check-job-references/"
              target="_blank" rel="noopener noreferrer"><img
                src="../../../../assets/img/featured/featured-ceo-weekly.png" /></a></div>
          <div class="img-element"><a
              href="https://nyweekly.com/business/talent-checks-empowers-candidates-with-proactive-reference-collection/"
              target="_blank" rel="noopener noreferrer"><img
                src="../../../../assets/img/featured/featured-ny-weekly.png" /></a></div>
        </div>

        <div class="mob-tab">
          <ngb-carousel class="slide" #carousel>
            <ng-template ngbSlide>
              <div class="carousel-ele"><a
                  href="https://markets.businessinsider.com/news/stocks/talent-checks-launches-reference-tool-for-modern-job-search-1032556196"
                  target="_blank" rel="noopener noreferrer"><img
                    src="../../../../assets/img/featured/featured-business-insider.png" /></a></div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="carousel-ele"><a
                  href="https://www.bloomberg.com/press-releases/2023-08-15/talent-checks-launches-reference-tool-for-modern-job-search"
                  target="_blank" rel="noopener noreferrer"><img
                    src="../../../../assets/img/featured/featured-bloomberg.png" /></a></div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="carousel-ele"><a
                  href="https://finance.yahoo.com/news/talent-checks-launches-reference-tool-154500015.html"
                  target="_blank" rel="noopener noreferrer"><img
                    src="../../../../assets/img/featured/featured-yahoo-finance.png" /></a></div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="carousel-ele"><a
                  href="https://www.benzinga.com/pressreleases/23/08/33862247/talent-checks-launches-reference-tool-for-modern-job-search"
                  target="_blank" rel="noopener noreferrer"><img
                    src="../../../../assets/img/featured/featured-benzinga.png" /></a></div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="carousel-ele"><a
                  href="https://ceoweekly.com/from-pepsico-to-talent-checks-ehab-abdelhafezs-new-way-to-check-job-references/"
                  target="_blank" rel="noopener noreferrer"><img
                    src="../../../../assets/img/featured/featured-ceo-weekly.png" /></a></div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="carousel-ele"><a
                  href="https://nyweekly.com/business/talent-checks-empowers-candidates-with-proactive-reference-collection/"
                  target="_blank" rel="noopener noreferrer"><img
                    src="../../../../assets/img/featured/featured-ny-weekly.png" /></a></div>
            </ng-template>

          </ngb-carousel>
        </div>

      </div>
    </div>
  </div>
  <!-- <div class="TrustedBy-part" id="TrustedBy">
    <div class="trusted">
      <div class="content">
        <div class="title">Trusted by
          <div class="image">
            <img src="../../../../assets/img/landing/under-trust.png" />
          </div>
        </div>
        <div class="images desktop-tab">
          <div class="spotify"><img src="../../../../assets/img/landing/spotify.svg" /></div>
          <div class="discord"><img src="../../../../assets/img/landing/discord.svg" /></div>
          <div class="airbnb"><img src="../../../../assets/img/landing/airbnb.svg" /></div>
          <div class="paloalto"><img src="../../../../assets/img/landing/paloalto.svg" /></div>
          <div class="nutrien"><img src="../../../../assets/img/landing/nutrien.svg" /></div>
        </div>

        <div class="images mob-tab">
          <ngb-carousel class="carousel-container carousel-dark slide" #carousel>
            <ng-template ngbSlide>
              <div class="spotify"><img src="../../../../assets/img/landing/spotify.svg" /></div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="spotify"><img src="../../../../assets/img/landing/discord.svg" /></div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="spotify"><img src="../../../../assets/img/landing/airbnb.svg" /></div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="spotify"><img src="../../../../assets/img/landing/paloalto.svg" /></div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="spotify"><img src="../../../../assets/img/landing/nutrien.svg" /></div>
            </ng-template>

          </ngb-carousel>
        </div>

      </div>
    </div>
  </div>
  -->
  <div class="HowItWorks-part" id="HowItWorks">
    <div class="works">
      <div class="content">
        <div class="title">How it works?
          <div class="image">
            <img src="../../../../assets/img/landing/under-works.png" />
          </div>
        </div>
        <div class="video">
          <video width="720" controls>
            <source src="../../../../assets/media/how-it-works.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="image"></div>
      </div>
    </div>
  </div>


  <div class="objectives">
    <div class="objective-content">
      <div class="title">
        <span>COLLECT OBJECTIVE AND STRUCTURED JOB REFERENCES</span>
      </div>
      <p class="sub-title">
        Talent Checks enables both candidates and organizations to gather structured and objective job references from
        their networks efficiently. This streamlined process ensures that the references are comprehensive and
        relevant, facilitating better decision-making for both parties.
      </p>
      <div class="content">
        <img class="obj-img" src="../../../../assets/img/landing/how-it-works-app-screenshot.png" alt="">
      </div>
    </div>
  </div>

  <div class="objectives">
    <div class="objective-content">
      <div class="title">
        <span>SHARE REFERENCES SEAMLESSLY AND SECURELY</span>
      </div>
      <p class="sub-title">
        Our platform allows for effortless sharing of references. Candidates can easily present their endorsements to
        potential employers, while organizations can access and review these references with ease, enhancing the overall
        efficiency of the hiring process.
      </p>
      <div class="content">
        <img class="obj-img" src="../../../../assets/img/landing/how-it-works-app-screenshot-2.png" alt="">
      </div>
    </div>
  </div>

  <div class="rsrc" id="Resources">
    <div class="title">
      <span>SHARE REFERENCES SEAMLESSLY AND SECURELY</span>
    </div>
    <div class="block">
      <div class="objective-content">
        <div class="content">
          <img class="obj-img" src="../../../../assets/img/landing/resource-1.png" alt="">
        </div>
        <h5>Choose and engage your right reference</h5>
        <p class="sub-title">
          If you're a job seeker actively searching for new opportunities, it's essential to have strong references who
          can vouch for your skills, work ethic, and character.
        </p>
      </div>
      <div class="objective-content">
        <div class="content">
          <img class="obj-img" src="../../../../assets/img/landing/resource-2.png" alt="">
        </div>
        <h5>Improve your quality of hire with Talent Checks</h5>
        <p class="sub-title">
          Hiring the right candidates is crucial for the success of any company, and reference checks play a vital role
          in this process. However, reference checks can be time-consuming and sometimes unreliable.
        </p>

      </div>
    </div>
  </div>


  <div class="rightBG2"></div>
  <div class="leftBG2"></div>

  <!-- <div class="Plans-part" id="Plans">
    <div class="plans">
      <div class="content">
        <div class="title">Plans
          <div class="image">
            <img src="../../../../assets/img/landing/under-plans.png" />
          </div>
        </div>
        <app-plan></app-plan>
      </div>
    </div>
  </div> -->

  <!-- <div class="Resources-part" id="Resourcess">
    <div class="resources">
      <div class="content">
        <span class="title">Resources</span>
        <div class="sub-content">
          <div class="left">
            <div class="image">
              <img src="../../../../assets/img/landing/other-play.png" />
            </div>
            <div class="text">
              <div class="main">Lorem ipsum dolor sit amet</div>
              <div class="sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non interdum libero,
                quis
                condimentum arcu. Ut a ante turpis. Nam non ligula at purus faucibus sagittis. </div>
              <div class="link"><a href="#">Learn more →</a></div>
            </div>
          </div>
          <div class="right">
            <div class="left">
              <div class="image">
                <img src="../../../../assets/img/landing/other-play.png" />
              </div>
              <div class="text">
                <div class="main">Lorem ipsum dolor sit amet</div>
                <div class="sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non interdum libero,
                  quis
                  condimentum arcu. Ut a ante turpis. Nam non ligula at purus faucibus sagittis. </div>
                <div class="link"><a href="#">Learn more →</a></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="ContactUs-part" id="ContactUs">
    <div class="contact-us">
      <div class="content">
        <div class="title">Contact us
          <div class="image">
            <img src="../../../../assets/img/landing/under-contact-us.png" />
          </div>
        </div>
        <div class="sub-content">
          <div class="left">
            <div>For technical support, please send us an email at</div>

            <a href="#">support&#64;talentchecks.com</a>
          </div>
          <div class="right">
            <div>For general inquiries, please send us an email at</div>
            <a href="#">hello&#64;talentchecks.com
            </a>
          </div>
        </div>
        <div class="rightBG4 desktop-tab"></div>
      </div>

    </div>
    <div class="rightBG4 mob-tab"></div>
  </div>
  <div class="leftBG3"></div>
  <div class="rightBG3"></div>

  <div class="upButton" [hidden]="!GoTopBtn" (click)="goUp()"></div>
</div>