.home-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 203px;
}

.topUp {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 811px;

  .welcome {
    position: relative;
    top: -634px;
    width: 527px;
    left: 82px;
  }
}

.line {
  top: 352px;
  width: 1263px;
  height: 4004px;
  background-image: url(../../../../assets/img/landing/Line.png);
  background-repeat: no-repeat;
  float: right;
  right: 200px;
  z-index: -20;
  margin-bottom: 30px;
  position: relative;
}

.rightBG {
  position: absolute;
  width: 768px;
  height: 1021px;
  background-image: url("../../../../assets/img/landing/BG2.png");
  background-repeat: no-repeat;
  left: 0px;
  top: 537px;
  z-index: -1;
}

.welcome-text {
  position: relative;
  width: 760px !important;
  top: 260px;
  left: 200px;

  .title {
    position: relative;
    width: 760px !important;
    font-size: 45px;
    font-family: 'CircularStd';
    color: #1F1F1F;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;

    .image {
      position: relative;
      float: right;
      width: 0px;
      right: 447px;
      top: 10px;
      z-index: -1;
    }
  }

  .text {
    position: relative;
    width: 760px !important;
    top: 20px;
    font-size: 18px;
    font-family: 'CircularStd';
    color: #809090;
    width: 100%;
  }

  .button {
    position: relative;
    top: 40px;
    width: 142px;
  }

}

.btn-custom-danger {
  font-size: 12px;
  font-family: 'CircularStd';
  line-height: 14px;
  background: #CA0010;
  color: white;
  width: 100%;
  text-transform: uppercase;
  height: 45px;
}

.btn-custom-danger:hover {
  background: rgb(202, 0, 16, .5);
  color: whitesmoke;
}

.main-talent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 543px;
  position: absolute;
  top: 856px;

  .talent-ckech {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1279px;
    height: 543px;
    background: white;

    .title {
      width: 100%;
      height: 85px !important;
      text-align: center;
      position: relative;
      font-size: 35px;
      font-weight: 800;
      font-family: 'CircularStd';
      line-height: 67px;
      color: #1F1F1F;
      width: 100%;
      height: 45px;

      img {
        position: relative;
        float: left;
        left: 483px;
        top: -27px;
        z-index: 2;
      }

      span {
        position: relative;
        z-index: 3;
      }
    }

    .sub-title {
      position: relative;
      width: 781px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      font-style: italic;
      font-family: 'CircularStd';
      color: #1F1F1F;
    }

    .content {
      width: 100%;
    }

    .text {
      position: relative;
      width: 742px;
      text-align: left;
      float: left;
      left: 133px;
      top: 50px;
      font-size: 16px;
      font-family: 'CircularStd';
      color: #809090;
    }

    .image {
      position: relative;
      float: right;
      width: 354px;
      height: 329px;
      background-image: url("../../../../assets/img/landing/talanet_check.png");
      background-size: 100%;
      background-repeat: no-repeat;
      right: -20px;
      bottom: 0px;
    }
  }

}

.leftBG1 {
  position: absolute;
  width: 494px;
  height: 958px;
  top: 875px;
  right: 0px;
  background-image: url("../../../../assets/img/landing/BG2.1.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.works {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 598px;
  position: absolute;
  top: 1555px;

  .content {
    font-size: 16px;
    font-weight: 600;
    font-family: 'CircularStd';
    color: #1F1F1F;

    .title {
      width: 100%;
      height: 85px !important;
      text-align: center;
      font-size: 35px;
      font-weight: 600;
      font-family: 'CircularStd';
      color: #1F1F1F;

      .image {
        position: relative;
        float: left;
        width: 0px;
        left: 386px;
        top: 10px;
        z-index: -1;
      }
    }

    .video {
      position: relative;
      font-size: 16px;
      font-weight: 600;
      font-style: italic;
      font-family: 'CircularStd';
      color: #1F1F1F;
    }

    .image {
      position: absolute;
      left: 133px;
      top: 41px;
      width: 494px;
      height: 418px;
      background-image: url("../../../../assets/img/landing/How_it_works.png");
      background-size: 100%;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

}

.trusted {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 221px;
  position: absolute;
  top: 2313px;

  .content {
    font-size: 16px;
    font-weight: 600;
    width: 80%;
    font-family: 'CircularStd';
    color: #1F1F1F;

    .title {
      width: 100%;
      height: 85px !important;
      text-align: center;
      font-size: 35px;
      font-weight: 600;
      font-family: 'CircularStd';
      color: #1F1F1F;

      .image {
        position: relative;
        float: left;
        width: 0px;
        left: 678px;
        top: 10px;
        z-index: -1;
      }
    }

    .images {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }


  }
}

.rightBG2 {
  position: absolute;
  width: 216px;
  height: 771px;
  top: 1989px;
  right: 0px;
  background-image: url("../../../../assets/img/landing/BG3.1.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.leftBG2 {
  position: absolute;
  width: 314px;
  height: 757px;
  top: 2041px;
  left: 0px;
  background-image: url("../../../../assets/img/landing/BG3.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

.plans {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 711px;
  position: absolute;
  top: 2749px;

  .content {
    font-size: 16px;
    font-weight: 600;
    width: 1278px;
    text-align: center;
    font-family: 'CircularStd';
    color: #1F1F1F;

    .title {
      width: 100%;
      height: 85px !important;
      text-align: center;
      font-size: 35px;
      font-weight: 600;
      font-family: 'CircularStd';
      color: #1F1F1F;

      .image {
        position: relative;
        float: left;
        width: 0px;
        left: 590px;
        top: 10px;
        z-index: -1;
      }
    }
  }
}

.ressources {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 507px;
  position: absolute;
  top: 3656px;

  .content {
    font-size: 16px;
    font-weight: 600;
    width: 1324px;
    text-align: center;
    font-family: 'CircularStd';
    color: #1F1F1F;

    .title {
      width: 100%;
      height: 85px !important;
      text-align: center;
      font-size: 35px;
      font-weight: 600;
      font-family: 'CircularStd';
      color: #1F1F1F;

      .image {
        position: relative;
        float: left;
        width: 0px;
        left: 571px;
        top: 10px;
        z-index: -1;
      }
    }

    .sub-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 507px;
    }

    .left {
      width: 540px;
      height: 100%;
      margin-right: 20px;
      text-align: left;

      .text {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;

        .main {
          text-align: left;
          font-size: 20px;
          font-weight: 600;
          font-family: 'CircularStd';
          color: #1F1F1F;
        }

        .sub {
          text-align: left;
          font-size: 13px;
          font-weight: 400;
          font-family: 'CircularStd';
          color: #819191;
        }

        .link a {
          text-align: left;
          font-size: 14px;
          font-weight: 600;
          font-family: 'CircularStd';
          color: #66C346;
        }

      }
    }

    .right {
      width: 707px;
      height: 100%;

      .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .image {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 215px;
          height: 185px;
          background: #E8EBF6;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        .text {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: flex-start;
          background: white;
          width: 491px;
          height: 185px;
          padding: 40px;

          .main {
            width: 100%;
            text-align: left;
            font-size: 20px;
            font-weight: 600;
            font-family: 'CircularStd';
            color: #1F1F1F;

            span {
              color: #DDF2D6;
              font-size: 22px;
              padding: 10px;
            }
          }

          .sub {
            width: 100%;
            text-align: left;
            font-size: 13px;
            font-weight: 400;
            font-family: 'CircularStd';
            color: #819191;
          }
        }

        .persone {
          position: relative;
          float: right;
          width: 0px;
          top: -113px;
          right: 133px
        }
      }

      .bottom {
        padding-top: 20px;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;

        .image {
          width: 216px;
          height: 185px;
          background-image: url("../../../../assets/img/landing/play-others.png");
          background-repeat: no-repeat;
          background-size: 100%;

          .title {
            position: relative;
            text-align: center;
            height: 16px !important;
            font-size: 14px;
            font-weight: 600;
            font-family: 'CircularStd';
            color: #1F1F1F;
            top: 135px;
            left: 10px;
          }
        }
      }
    }
  }
}

.contact-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 311px;
  position: absolute;
  top: 4303px;

  .content {
    font-size: 16px;
    font-weight: 600;
    width: 1278px;
    text-align: center;
    font-family: 'CircularStd';
    color: #1F1F1F;

    .title {
      width: 100%;
      height: 85px !important;
      text-align: center;
      font-size: 35px;
      font-weight: 600;
      font-family: 'CircularStd';
      color: #1F1F1F;

      .image {
        position: relative;
        float: left;
        width: 0px;
        left: 548px;
        top: 10px;
        z-index: -1;
      }
    }

    .sub-content {
      padding-top: 30px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      .left {
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        font-family: 'CircularStd';
        color: #809090;
        line-height: 40px;

        a {
          color: #66C346;
        }
      }

      .right {
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        font-family: 'CircularStd';
        color: #809090;
        line-height: 40px;

        a {
          color: #66C346;
        }
      }
    }
  }
}

.leftBG3 {
  position: absolute;
  width: 1033px;
  height: 1223px;
  top: 3510.16px;
  right: 0px;
  background-image: url("../../../../assets/img/landing/BG6.1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -2;
}

.rightBG3 {
  position: absolute;
  width: 314px;
  height: 730px;
  top: 4000.72px;
  left: 0px;
  background-image: url("../../../../assets/img/landing/BG6.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.rightBG4 {
  position: absolute;
  width: 387px;
  height: 368px;
  top: 4234px;
  left: 20px;
  background-image: url("../../../../assets/img/landing/Resources.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.upButton {
  cursor: pointer;
  position: fixed;
  z-index: 100;
  width: 42px;
  height: 99px;
  top: 80%;
  right: 240px;
  background-image: url("../../../../assets/img/landing/Up.png");
  background-repeat: no-repeat;
  background-size: 100%;

}


.mob-tab {
  display: none !important;
}

.desktop-tab {
  display: flex !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {

  .home-div {
    margin-bottom: 203px;
  }

  .topUp {
    width: 100%;
    text-align: right;

    .topleft {
      width: 300px;
      height: 270px;
    }

    .welcome {
      width: 100%;
      top: -200px;
      left: 0px;
      text-align: center;

      img {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 320px;
      }
    }
  }

  .line {
    top: 10px;
    width: 100%;
    height: 3666.88px;
    background-size: 100% 100%;
    right: 0px;
    margin-bottom: 350px;
  }

  .welcome-text {
    top: 324px;
    position: relative;
    left: 0px;
    width: 289px !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .title {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      position: relative;
      width: 209px !important;
      font-size: 20px;
      font-weight: 600;
      line-height: 29px;

      .image {
        right: 194px;
        top: 6px;

        img {
          width: 180px !important;
        }
      }
    }

    .text {
      text-align: center;
      width: 289px !important;
      font-size: 13px;
      line-height: 21px;
    }

    .button {
      width: 289px !important;
    }

    .start {
      width: 100%;
      text-align: center;

      button {
        width: 230px;
      }
    }
  }

  .btn-custom-danger {
    font-size: 12px;
    font-family: 'CircularStd';
    line-height: 14px;
    background: #CA0010;
    color: white;
    width: 100%;
    text-transform: uppercase;
    height: 45px;
  }

  .btn-custom-danger:hover {
    background: rgb(202, 0, 16, .5);
    color: whitesmoke;
  }

  .main-talent {
    height: auto;
    position: absolute;
    top: 752px;

    .talent-ckech {
      padding-top: 80px;
      width: 288px;
      height: 716px;

      .title {
        height: 85px !important;
        font-size: 25px;
        font-weight: 700;
        color: #1F1F1F;

        img {
          left: 18px;
        }

        span {
          position: relative;
          z-index: 3;
        }
      }

      .sub-title {
        width: 255px;
        height: 183px;
        font-size: 15px;
        font-weight: 500;
      }

      .content {
        text-align: center;
      }

      .text {
        right: 10%;
        left: 10%;
        width: 80%;
        text-align: center;
        top: 30px;
        margin-left: auto;
        margin-right: auto;
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;

      }

      .image {
        top: 40px;
        width: 300px;
        height: 329px;
      }
    }

  }

  .works {
    top: 1428px;

    .content {
      .title {
        font-size: 25px;
        font-weight: 700;
        line-height: 67px;

        .image {
          left: 204px;

          img {
            width: 85px;
            height: 10px;
          }
        }
      }

      .video {
        width: 100%;

        img {
          margin-left: 10%;
          margin-right: 10%;
          width: 80%;
        }
      }

      .image {
        left: 283px;
        top: 136px;
        width: 197px;
        height: 167px;
      }
    }

  }

  .trusted {
    top: 1952px;

    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          left: 108px;

          img {
            width: 86px;
          }
        }
      }
    }
  }

  .plans {
    top: 2229px;

    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          top: 10px;

          img {
            width: 80px;
            position: relative;
            left: -420px;
          }
        }
      }
    }
  }

  .ressources {
    top: 3037px;

    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          top: 10px;
          left: 35%;

          img {
            width: 120px;
          }
        }
      }

      .sub-content {
        position: relative;
        top: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 507px;
      }

      .left {
        width: 288px;
        height: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        .image {
          width: 288px;

          img {
            width: 100%;
          }
        }

        .text {
          .main {
            font-size: 15px;
            font-weight: 700;
          }
        }
      }

      .right {
        position: relative;
        width: 288px;
        height: 100%;
        top: 40px;

        .top {
          .image {
            width: 100px;
            height: 175px;
          }

          .text {
            padding: 20px;

            .main {
              font-size: 15px;
              font-weight: 700;
            }

            .sub {
              width: 100%;
              text-align: left;
              font-size: 13px;
              font-weight: 400;
              line-height: 21px;
              font-family: 'CircularStd';
              color: #819191;

              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .persone {
            img {
              width: 130px;
              right: -50px;
              position: relative;
            }
          }
        }

        .bottom {
          .image {
            width: 134px;
            height: 170px;
            background-color: white;

            .title {
              top: 100px;
              line-height: 16px;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .contact-us {
    top: 3888px;
    z-index: 20;

    .content {
      .title {
        font-size: 25px;
        font-weight: 700;
        height: 30px !important;

        .image {
          left: 35%;
          width: 0px;

          img {
            width: 120px;
          }
        }
      }

      .sub-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .left {
          font-size: 13px;
          text-align: center;
        }

        .right {
          font-size: 13px;
          text-align: center;
        }
      }
    }
  }

  .rightBG3 {
    z-index: -2;
  }

  .rightBG4 {
    width: 179px;
    height: 170px;
    top: 4195px;
    left: 35%;
  }

  .upButton {
    display: none;
  }

  .desktop-tab {
    display: none !important;
  }

  .mob-tab {
    display: flex !important;
  }

  .images {
    width: 100%;

    .carousel-container {
      position: relative;
      top: 0px;
      color: white;
      width: 100%;
      z-index: 10;

      .spotify {
        width: 300px;
        height: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }
  }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

  .topUp {
    width: 100%;
    text-align: right;

    .topleft {
      width: 546px;
      height: 531px;
    }

    .welcome {
      width: 100%;
      top: -380px;
      left: 0px;
      right: 10%;
      text-align: right;

      img {
        position: relative;
        right: 4%;
        width: 350px;
      }
    }
  }

  .line {
    top: 10px;
    width: 100%;
    height: 3666.88px;
    background-size: 100% 100%;
    right: 0px;
  }

  .welcome-text {
    top: 276px;
    position: relative;
    left: 50px;
    width: 484px !important;
    text-align: left;

    .title {
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      position: relative;
      width: 484px !important;
      font-size: 30px;
      font-weight: 700;
      line-height: 47px;

      .image {
        right: 255px;
        top: 6px;

        img {
          width: 237px !important;
        }
      }
    }

    .text {
      text-align: left;
      width: 446px !important;
      font-size: 15px;
      line-height: 25px;
    }

    .button {
      width: 289px !important;
    }

    .start {
      width: 100%;
      text-align: center;

      button {
        width: 230px;
      }
    }
  }

  .btn-custom-danger {
    font-size: 12px;
    font-family: 'CircularStd';
    line-height: 14px;
    background: #CA0010;
    color: white;
    width: 100%;
    text-transform: uppercase;
    height: 45px;
  }

  .btn-custom-danger:hover {
    background: rgb(202, 0, 16, .5);
    color: whitesmoke;
  }

  .main-talent {
    height: auto;
    position: absolute;
    top: 752px;

    .talent-ckech {
      padding-top: 80px;
      width: 700px;
      height: 543px;

      .title {
        height: 85px !important;
        font-size: 25px;
        font-weight: 700;
        color: #1F1F1F;

        img {
          position: relative;
          left: 42%;
        }

        span {
          position: relative;
          z-index: 3;
        }
      }

      .sub-title {
        width: 60%;
        height: 183px;
        font-size: 15px;
        font-weight: 500;
      }

      .content {
        text-align: center;
      }

      .text {
        right: 10%;
        left: 10%;
        width: 60%;
        text-align: left;
        top: 30px;
        margin-left: auto;
        margin-right: auto;
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;

      }

      .image {
        position: relative;
        top: -70px;
        width: 300px;
        height: 329px;
      }
    }

  }

  .works {
    top: 1428px;

    .content {
      .title {
        font-size: 25px;
        font-weight: 700;
        line-height: 67px;

        .image {
          img {
            width: 85px;
            height: 10px;
          }
        }
      }

      .video {
        width: 100%;

        img {
          margin-left: 20%;
          margin-right: 20%;
          width: 60%;
        }
      }

      .image {
        left: 40px;
        top: 119px;
        width: 197px;
        height: 167px;
      }
    }

  }

  .trusted {
    top: 1952px;

    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          left: 42%;

          img {
            width: 86px;
          }
        }
      }
    }
  }

  .plans {
    top: 2229px;

    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          top: 10px;

          img {
            padding-left: 15px;
            width: 80px;
          }
        }
      }
    }
  }

  .ressources {
    top: 3037px;

    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          top: 10px;
          left: 44%;

          img {
            width: 120px;
          }
        }
      }

      .sub-content {
        position: relative;
        top: 110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 507px;
        margin-left: auto;
        margin-right: auto;
      }

      .left {
        width: 325px;
        height: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        .image {
          width: 288px;

          img {
            width: 100%;
          }
        }

        .text {
          .main {
            font-size: 15px;
            font-weight: 700;
          }
        }
      }

      .right {
        position: relative;
        width: 325px;
        height: 100%;


        .top {
          .image {
            width: 100px;
            height: 175px;
          }

          .text {
            padding: 20px;

            .main {
              font-size: 15px;
              font-weight: 700;
            }

            .sub {
              width: 100%;
              text-align: left;
              font-size: 13px;
              font-weight: 400;
              line-height: 21px;
              font-family: 'CircularStd';
              color: #819191;

              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .persone {
            img {
              width: 130px;
              right: -50px;
              position: relative;
            }
          }
        }

        .bottom {
          .image {
            width: 134px;
            height: 170px;
            background-color: white;

            .title {
              top: 100px;
              line-height: 16px;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .contact-us {
    top: 3670px;
    z-index: 20;

    .content {
      .title {
        font-size: 25px;
        font-weight: 700;
        height: 30px !important;

        .image {
          left: 44%;
          width: 0px;

          img {
            width: 120px;
          }
        }
      }

      .sub-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .left {
          font-size: 13px;
          text-align: center;
        }

        .right {
          font-size: 13px;
          text-align: center;
        }
      }
    }
  }

  .rightBG3 {
    z-index: -2;
    width: 211px;
    height: 481px;
    top: 3603px;
  }

  .rightBG4 {
    width: 179px;
    height: 170px;
    top: 3888px;
    left: 6%;
  }

  .upButton {
    display: none;
  }

  .leftBG3 {
    top: 2875.16px;
    width: 791px;
    height: 971px;
  }


}


@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .topUp {
    width: 100%;
    text-align: right;

    .topleft {
      width: 546px;
      height: 531px;
    }

    .welcome {
      width: 100%;
      top: -333px;
      left: 0px;
      right: 10%;
      text-align: right;

      img {
        position: relative;
        right: 4%;
        width: 350px;
      }
    }
  }

  .line {
    top: 10px;
    width: 100%;
    height: 3666.88px;
    background-size: 100% 100%;
    right: 0px;
  }

  .welcome-text {
    top: 276px;
    position: relative;
    left: 50px;
    width: 484px !important;
    text-align: left;

    .title {
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      position: relative;
      width: 484px !important;
      font-size: 30px;
      font-weight: 700;
      line-height: 47px;

      .image {
        right: 194px;
        top: 6px;

        img {
          width: 180px !important;
        }
      }
    }

    .text {
      text-align: left;
      width: 446px !important;
      font-size: 15px;
      line-height: 25px;
    }

    .button {
      width: 289px !important;
    }

    .start {
      width: 100%;
      text-align: center;

      button {
        width: 230px;
      }
    }
  }

  .btn-custom-danger {
    font-size: 12px;
    font-family: 'CircularStd';
    line-height: 14px;
    background: #CA0010;
    color: white;
    width: 100%;
    text-transform: uppercase;
    height: 45px;
  }

  .btn-custom-danger:hover {
    background: rgb(202, 0, 16, .5);
    color: whitesmoke;
  }

  .main-talent {
    height: auto;
    position: absolute;
    top: 752px;

    .talent-ckech {
      padding-top: 80px;
      width: 700px;
      height: 543px;

      .title {
        height: 85px !important;
        font-size: 25px;
        font-weight: 700;
        color: #1F1F1F;

        img {
          left: 18px;
        }

        span {
          position: relative;
          z-index: 3;
        }
      }

      .sub-title {
        width: 60%;
        height: 183px;
        font-size: 15px;
        font-weight: 500;
      }

      .content {
        text-align: center;
      }

      .text {
        right: 10%;
        left: 10%;
        width: 60%;
        text-align: left;
        top: 30px;
        margin-left: auto;
        margin-right: auto;
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;

      }

      .image {
        position: relative;
        top: -70px;
        width: 300px;
        height: 329px;
      }
    }

  }

  .works {
    top: 1428px;

    .content {
      .title {
        font-size: 25px;
        font-weight: 700;
        line-height: 67px;

        .image {
          left: 204px;

          img {
            width: 85px;
            height: 10px;
          }
        }
      }

      .video {
        width: 100%;

        img {
          margin-left: 20%;
          margin-right: 20%;
          width: 60%;
        }
      }

      .image {
        left: 40px;
        top: 119px;
        width: 197px;
        height: 167px;
      }
    }

  }

  .trusted {
    top: 1952px;

    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          left: 108px;

          img {
            width: 86px;
          }
        }
      }
    }
  }

  .plans {
    top: 2229px;

    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          top: 10px;

          img {
            padding-left: 15px;
            width: 80px;
          }
        }
      }
    }
  }

  .ressources {
    top: 3037px;

    .content {
      .title {
        font-size: 25px;
        line-height: 67px;
        font-weight: 700;

        .image {
          top: 10px;
          left: 35%;

          img {
            width: 120px;
          }
        }
      }

      .sub-content {
        position: relative;
        top: 110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 507px;
        margin-left: auto;
        margin-right: auto;
      }

      .left {
        width: 325px;
        height: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        .image {
          width: 288px;

          img {
            width: 100%;
          }
        }

        .text {
          .main {
            font-size: 15px;
            font-weight: 700;
          }
        }
      }

      .right {
        position: relative;
        width: 325px;
        height: 100%;


        .top {
          .image {
            width: 100px;
            height: 175px;
          }

          .text {
            padding: 20px;

            .main {
              font-size: 15px;
              font-weight: 700;
            }

            .sub {
              width: 100%;
              text-align: left;
              font-size: 13px;
              font-weight: 400;
              line-height: 21px;
              font-family: 'CircularStd';
              color: #819191;

              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .persone {
            img {
              width: 130px;
              right: -50px;
              position: relative;
            }
          }
        }

        .bottom {
          .image {
            width: 134px;
            height: 170px;
            background-color: white;

            .title {
              top: 100px;
              line-height: 16px;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .contact-us {
    top: 3670px;
    z-index: 20;

    .content {
      .title {
        font-size: 25px;
        font-weight: 700;
        height: 30px !important;

        .image {
          left: 35%;
          width: 0px;

          img {
            width: 120px;
          }
        }
      }

      .sub-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .left {
          font-size: 13px;
          text-align: center;
        }

        .right {
          font-size: 13px;
          text-align: center;
        }
      }
    }
  }

  .rightBG3 {
    z-index: -2;
    width: 211px;
    height: 481px;
    top: 3603px;
  }

  .rightBG4 {
    width: 179px;
    height: 170px;
    top: 3888px;
    left: 6%;
  }

  .upButton {
    display: none;
  }

  .leftBG3 {
    top: 2875.16px;
    width: 791px;
    height: 971px;
  }
}
