<div class="home-div">
<div class="topUp">
  <img src="../../../../assets/img/landing/topleft.png" class="topleft"/>
  <div class="welcome">
  <img src="../../../../assets/img/landing/welcome_talents.png"  />
  </div>
</div>
<div class="welcome-text">
  <div class="title">
    Welcome to Talent Checks!
    <div class="image">
      <img src="../../../../assets/img/landing/under-welcome.png" />
    </div>
  </div>
  <div class="text">
    Talent Checks is the only automated reference checking technology in the market that allows candidates to collect video & text references, have them securely stored, and easily shared with potential future employers during the hiring process with a click of a button.

  </div>
  <div class="button">
    <div class="start"><button class="btn btn-custom-danger form-control">Lets start!</button></div>
  </div>
</div>
<div class="rightBG"></div>
<div class="line"></div>
<div class="main-talent">
<div class="talent-ckech">
  <div class="title">
    <span>Why Talent Checks</span>
    <div class="image-under"><img src="../../../../assets/img/landing/rec-under-why.png" /></div>

  </div>
  <div class="sub-title">
    <span><img src="../../../../assets/img/landing/Combined Shape.png"/></span>
    Now you don’t have to worry about asking your network to submit multiple references every time you are applying to a job, because one time is now enough <span><img src="../../../../assets/img/landing/Combined Shape.png"/></span>
  </div>
  <div class="content">
  <div class="text">
    Being active in the job market is taxing in itself, and we understand that going to your network several times to ask them to submit multiple reference checks to the companies you are applying for makes it even more challenging. Talent Checks is here to make this journey easier through automating the collection, storage, and sharing of your references while putting you at the driver seat!
  </div>
  <div class="image"></div>
</div>
</div>
</div>
<div class="leftBG1"></div>

<div class="works">
  <div class="content">
    <div class="title">How it works?
      <div class="image">
        <img src="../../../../assets/img/landing/under-works.png" />
      </div>
    </div>
    <div class="video"><img src="../../../../assets/img/landing/Rectangle.png" /> </div>
    <div class="image"></div>
  </div>
</div>

<div class="trusted">
  <div class="content">
    <div class="title">Trusted by
      <div class="image">
        <img src="../../../../assets/img/landing/under-trust.png" />
      </div>
    </div>
    <div class="images desktop-tab">
      <div class="spotify"><img src="../../../../assets/img/landing/spotify.svg" /></div>
      <div class="discord"><img src="../../../../assets/img/landing/discord.svg" /></div>
      <div class="airbnb"><img src="../../../../assets/img/landing/airbnb.svg" /></div>
      <div class="paloalto"><img src="../../../../assets/img/landing/paloalto.svg" /></div>
      <div class="nutrien"><img src="../../../../assets/img/landing/nutrien.svg" /></div>
    </div>

    <div class="images mob-tab">
      <ngb-carousel class="carousel-container carousel-dark slide"  #carousel>
        <ng-template ngbSlide>
          <div class="spotify"><img src="../../../../assets/img/landing/spotify.svg" /></div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="spotify"><img src="../../../../assets/img/landing/discord.svg" /></div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="spotify"><img src="../../../../assets/img/landing/airbnb.svg" /></div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="spotify"><img src="../../../../assets/img/landing/paloalto.svg" /></div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="spotify"><img src="../../../../assets/img/landing/nutrien.svg" /></div>
        </ng-template>

      </ngb-carousel>
    </div>

  </div>
</div>


<div class="rightBG2"></div>
<div class="leftBG2"></div>

<div class="plans">
  <div class="content">
    <div class="title">Plans
      <div class="image">
        <img src="../../../../assets/img/landing/under-plans.png" />
      </div>
    </div>
    <app-plan></app-plan>
  </div>
</div>

<div class="ressources">
  <div class="content">
    <div class="title">Resources
      <div class="image">
        <img src="../../../../assets/img/landing/under-resources.png" />
      </div>
    </div>
    <div class="sub-content">
      <div class="left">
        <div class="image">
          <img src="../../../../assets/img/landing/other-play.png" />
        </div>
        <div class="text">
          <div class="main">Lorem ipsum dolor sit amet</div>
          <div class="sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non interdum libero, quis condimentum arcu. Ut a ante turpis. Nam non ligula at purus faucibus sagittis. </div>
          <div class="link"><a href="#">Learn more  →</a></div>
        </div>
      </div>
      <div class="right">
        <div class="top">
          <div class="image">
            <img src="../../../../assets/img/landing/Play.png" />
          </div>
          <div class="text">
              <div class="main"><span><i class="fa fa-video-camera" aria-hidden="true"></i></span>
                Lorem ipsum dolor sit amet
              </div>
              <div class="sub">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non interdum libero, quis condimentum arcu. Ut a ante turpis. Nam non ligula at purus faucibus sagittis.
              </div>
          </div>
          <div class="persone">
            <img src="../../../../assets/img/landing/persone.png" />
          </div>
        </div>
        <div class="bottom">
          <div class="image">
            <div class="title">
              Lorem ipsum dolor
            </div>
          </div>
          <div class="image">
            <div class="title">
              Lorem ipsum dolor
            </div>
          </div>
          <div class="image">
            <div class="title">
              Lorem ipsum dolor
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<div class="contact-us">
  <div class="content">
    <div class="title">Contact us
      <div class="image">
        <img src="../../../../assets/img/landing/under-contact-us.png" />
      </div>
    </div>
    <div class="sub-content">
      <div class="left">
        <div>For technical support, please send us an email at</div>

<a herf="#">support&#64;talentchecks.com</a>
      </div>
      <div class="right">
        <div>For general inquiries, please send us an email at</div>
<a herf="#">hello&#64;talentchecks.com
</a>
      </div>
    </div>

  </div>
</div>
<div class="leftBG3"></div>
<div class="rightBG3"></div>
<div class="rightBG4"></div>
<div class="upButton"></div>
</div>
