<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [style]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="top-image">
        <div class="background">
            <img src="../../../../../assets/img/payment/Payment details.png" />
        </div>
      </div>

    <div class="fields">
        <div class="title">
          Payment details!
        </div>
        <div class="sub-title">Add your card details</div>
        <div class="name"><input type="text" class="form-control" name="name" id="name" placeholder="&#61447;  Name on the Card *"></div>
        <div class="card"><input type="text" class="form-control" name="card_number" id="card_number" placeholder="Card number *"></div>
        <div class="expiration"><input type="text" class="form-control" name="expiration" id="expiration" placeholder="Expiration date *"></div>
        <div class="security"><input type="text" class="form-control" name="security" id="security" placeholder="Security code *"></div>
        <div class="cancel" (click)="closePopup()"><button class="btn btn-custom-cancel form-control">CANCEL</button></div>
        <div class="add" (click)="submit()"><button class="btn btn-custom-danger form-control">ADD</button></div>

  </div>
  </div>
  </div>
</div>
